<template name="my_service_main">
    <div style="padding-bottom: 10px;">
    {{#each service}}
    {{> service_list}}
    {{/each}}
    </div>
</template>
<template name="service_list">
	<div class="partner_lists" id="{{_id}}" tag="{{type}}">
		<dl>
			<dt><img src="{{get_face userId}}"></dt>
<!--			<dd><b>{{get_username userId}}</b>{{time_diff createdAt}}</dd>-->
          <div class="userName"><b class="userHome" id="{{userId}}">{{get_username userId}}</b></div>
          <div class="createAt">{{time_diff createdAt}}</div>
		</dl>
        {{#if is_partner type}}
            <div class="h3 xc">
                {{#if title}}
                <span>路线：{{title}}</span>
                <br>时间：{{format_day startDate days}}
                <br>
                <p>{{text}}</p>
                {{/if}}

                {{#if is_title_null title}}
                <p>{{startDate}} {{text}}</p>
                {{/if}}
            </div>

        {{/if}}
		<ol id="{{_id}}">
            {{#each images}}
            <li id="{{this.url}}"><img class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}" /></li>
            {{/each}}
		</ol>
		<div class="status">
            <div class="addres"><i class="fa fa-map-marker"></i><span>{{city}}</span></div>
			<div class="remark"><span>评论({{replys_count replys}})</span></div>
		</div>
        {{#if is_my this}}
        <div id="{{_id}}" class="edit">[编辑]</div>
        <div id="{{_id}}" class="delete">[删除]</div>
        {{/if}}
	</div>
</template>