<template name="city">
    {{> city_province}}
</template>
<template name="city_province">
    <div id="city">
        <div class="head">
            <strong>选择省份</strong>
            <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>     
        </div>
        <div class="set-up">
          <ul>
            {{#each province}}
            <li ProID="{{ProID}}" name="{{name}}">
              <span class="label">{{name}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            {{/each}}
          </ul>
        </div>
    </div>
</template>
<template name="city_city">
    <div id="city">
        <div id="page_header">
            <div class="title">选择城市</div>
            <div class="button_group button_left"><i class="fa fa-chevron-left"></i></div>
            <div class="button_group button_right"></div>
        </div>
        <div class="set-up">
          <ul>
            {{#each city}}
            <li CityID="{{CityID}}" name="{{name}}">
              <span class="label">{{name}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            {{/each}}
          </ul>
        </div>
    </div>
</template>