<template name="footer">
    <div id="footer" class="container navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
              {{#if is_channerl 'wifiIndex'}}
              <div id="wifiIndex" class="item hover"><img src="/icon_03_hover.png" /><span>Gyms</span></div>
              {{else}}
              <div id="wifiIndex" class="item"><img src="/icon_03.png" /><span>Gyms</span></div>
              {{/if}}
            </div>
            <div class="btn-group">
              {{#if is_channerl 'my_message'}}
              <div id="my_message" class="item hover">
                {{#if is_wait_read_count wait_read_count}}
                  <div class="msg_count">{{wait_read_count}}</div>
                {{/if}}
                <img src="/icon_02_hover.png" /><span>{{_ "message"}}</span></div>
              {{else}}
              <div id="my_message" class="item">
                {{#if is_wait_read_count wait_read_count}}
                  <div class="msg_count">{{wait_read_count}}</div>
                {{/if}}
                <img src="/icon_02.png" /><span>{{_ "message"}}</span></div>
              {{/if}}
            </div>
            <div class="btn-group">
              {{#if is_channerl 'dashboard'}}
              <div id="dashboard" class="item hover"><img src="/icon_01_hover.png" /><span>{{_ "mySelf"}}</span></div>
              {{else}}
              <div id="dashboard" class="item"><img src="/icon_01.png" /><span>{{_ "mySelf"}}</span></div>
              {{/if}}
            </div>
        </div>
    </div>
</template>