<!--
    @bishen.org
    2014.11.11
-->
<template name="home">
  <div class="home">
	<!--<div class="searchBg"></div>
    <form class="search">
        <i class="fa fa-search"></i>
    	<label><input type="text" placeholder="搜索目的地、塔伙、当地人"></label>
        <i class="fa fa-microphone"></i>
    </form>-->
    <div class="top">
        {{#if event_2015_01}}
        <div class="top-bg"><img src="/event/2015-01/banner.jpg" /></div>
        {{else}}
        <div class="top-bg"><img src="/home/top.jpg" /></div>
        {{/if}}
        <div class="user-pic"><img src="{{currentUser.profile.picture}}" width='60' height='60'/></div>
        <div class="nearby" id="nearby">附近</div>
    </div>

    <div class="layout">
      <div class="title"><b>推荐</b></div>
      <ul>
        <li id="8xBjcmYN89mfHjZKE" tag="云南"><img src="/home/group1/01.jpg" /><h1>云南</h1></li>
        <li id="LtMkrsZE8x3dA6sXh" tag="海南"><img src="/home/group1/02.jpg" /><h1>海南</h1></li>
        <li id="pgH9PrDc84gRzpZzA" tag="广西"><img src="/home/group1/03.jpg" /><h1>广西</h1></li>
        <li id="CbHvR6AAZzdQgtXny" tag="西藏"><img src="/home/group1/04.jpg" /><h1>西藏</h1><summary>入春林芝，见证乙未</summary></li>
      </ul>
    </div>
    <div class="layout">
      <div class="title"><b>{{gettMonth}}热门目的地</b></div>
      <ul>
        <li id="nC5oKxHJjGSF95x63" tag="昆明"><img src="/home/group2/01.jpg" /><h1>昆明</h1></li>
        <li id="cxHEcrdKchGfFvgnu" tag="大理"><img src="/home/group2/02.jpg" /><h1>大理</h1></li>
        <li id="CGPZqCER2c8mjHEjs" tag="丽江"><img src="/home/group2/03.jpg" /><h1>丽江</h1></li>
        <li id="2NtMaQwfHQPQdo9yF" tag="香格里拉"><img src="/home/group2/04.jpg" /><h1>香格里拉</h1></li>
        <li id="HG8ByyXWzYvwiRgjG" tag="拉萨"><img src="/home/group2/05.jpg" /><h1>拉萨</h1></li>
        <li id="nFZpKzH64B2WZ3A5h" tag="林芝"><img src="/home/group2/06.jpg" /><h1>林芝</h1></li>
        <li id="h6BgRMrnd9npszcdu" tag="日喀则"><img src="/home/group2/07.jpg" /><h1>日喀则</h1></li>
        <li id="jPTvffpT9ikHndMti" tag="乌鲁木齐"><img src="/home/group2/08.jpg" /><h1>乌鲁木齐</h1></li>
        <li id="35eHHt7tJ3HTjWDpy" tag="喀纳斯"><img src="/home/group2/09.jpg" /><h1>喀纳斯</h1></li>
        <li id="R8TA3K2t2GoYoBZmm" tag="天池"><img src="/home/group2/10.jpg" /><h1>天池</h1></li>
        <li id="L3ERKYHfZ5XC2fBCw" tag="桂林"><img src="/home/group2/11.jpg" /><h1>桂林</h1></li>
        <li id="WmsMrBoAQwhdM6Y8g" tag="北海"><img src="/home/group2/12.jpg" /><h1>北海</h1></li>
        <li id="ttJmL75yWqkGZwuq3" tag="南宁"><img src="/home/group2/13.jpg" /><h1>南宁</h1></li>
      </ul>
    </div>
    <div class="layout">
      <div class="title"><b>钟爱云南</b></div>
      <ul>
        <li id="5n9d4WLh83LoBLJZz" tag="迪庆"><img src="/home/group3/01.jpg" /><h1>迪庆</h1></li>
        <li id="YNkMEYHSGLAnq3Nwh" tag="红河"><img src="/home/group3/02.jpg" /><h1>红河</h1></li>
        <li id="vjh5MAQQmbA9eyuuq" tag="怒江"><img src="/home/group3/03.jpg" /><h1>怒江</h1></li>
        <li id="ZpYtzoKy4BfD9h7yq" tag="曲靖"><img src="/home/group3/04.jpg" /><h1>曲靖</h1></li>
        <li id="64arutr4g9TDYJRou" tag="思茅"><img src="/home/group3/05.jpg" /><h1>思茅</h1></li>
        <li id="HTFDAXY2zHNXZwZ6S" tag="文山"><img src="/home/group3/06.jpg" /><h1>文山</h1></li>
        <li id="Kp3wBMJo62pKzbCuo" tag="西双版纳"><img src="/home/group3/07.jpg" /><h1>西双版纳</h1></li>
        <li id="6srY3DejHdvQGfRtE" tag="昭通"><img src="/home/group3/08.jpg" /><h1>昭通</h1></li>
        <li id="tqKLaiW6JzvNjJADB" tag="楚雄"><img src="/home/group3/09.jpg" /><h1>楚雄</h1></li>
        <li id="J8hwSYv4rGkEz4ifp" tag="德宏"><img src="/home/group3/10.jpg" /><h1>德宏</h1></li>
      </ul>
    </div>
    <div class="layout">
      <div class="title"><b>日光之城</b></div>
      <ul>
        <li id="CbHvR6AAZzdQgtXny" tag="西藏"><img src="/home/group4/01.jpg" /><h1>西藏</h1></li>
      </ul>
    </div>
  </div>
</template>