<template name="my_dashboard">
    <div class="my_dashboard">
    {{#if currentUser}}
        {{#if editProfile}}
            <div class="head">
                <strong>编辑我的资料</strong>
                <button id="back-my" class="btn btn-default btn-sm">返回</button>
            </div>
            <div class="main" style="text-align:left;padding:20px">
                <form id="edit-form" action="action">
                帐号：<b>{{currentUser.username}} </b><br>
                性别：{{#if userSex}}
                    <input type="radio" id="account-men" name="sex">男 
                    <input type="radio" id="account-woman" name="sex" checked>女
                    {{else}}
                    <input type="radio" id="account-men" name="sex" checked>男 
                    <input type="radio" id="account-woman" name="sex">女
                    {{/if}}
                    <br>
                城市：<input type="text" id="account-city" value="{{currentUser.profile.city}}"><br>
                {{>fileUpload}}
                <input class="btn" type="submit" id="edit-account" value="保存资料" />
                </form>
            </div>
        {{else}}
            <div class="head">
                <strong>我的</strong>
                <button id="edit-button" class="btn btn-default btn-sm">编辑</button>
            </div>
            <div class="main" style="text-align:left;padding:20px 30px">
                您已登录！<br>
                帐号：<b>{{currentUser.username}} </b><br>
                性别：{{currentUser.profile.sex}}<br>
                城市：{{currentUser.profile.city}}<br>
                {{#if currentUser.profile.picture}}
                头像：<img src="{{currentUser.profile.picture}}"  height="80" width ="80"/><br>
                {{/if}}
                <br>
                <button id="logout-button" class="btn">登出</button>
            </div>
        {{/if}}
    {{else}}
        {{#if goRegister}}
            {{> my_register}}
        {{else}}
            {{> my_login}}
        {{/if}}
    {{/if}}
    </div>
</template>

<template name="my_register">
    <div class="head">
        <strong>注册帐号</strong>
        <i class="fa fa-angle-left" id="back-button"></i>
    </div>
    <div class="main">
        <form id="register-form" action="action">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user"></i>帐号</span>
              <input class="form-control" type="text" id="account-name" placeholder="输入要注册的帐号">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i>密码</span>
              <input class="form-control" type="password" id="account-password" placeholder="输入密码">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-bell-slash"></i>性别</span>
              <input type="radio" id="account-men" name="sex" checked>男 
              <input type="radio" id="account-woman" name="sex">女
            </div>
            <!--div class="input-group">
              <span class="input-group-addon"><i class="fa fa-yelp"></i>城市</span>
              <input class="form-control" type="text" id="account-city" placeholder="所在城市">
            </div-->
            {{>fileUpload}}
            <input class="btn" type="submit" id="create-account" value="注册帐号" />
        </form>
    </div>
</template>

<template name="my_login">
    <div class="head">
        <strong>登录</strong>
        <button id="register-button" class="btn btn-default btn-sm">注册</button>
    </div>
    <div class="main">
        <form id="login-form" action="action">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              <input class="form-control" type="text" id="login-name" placeholder="输入帐号">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" type="password" id="login-password" placeholder="输入密码">
            </div>
            <input class="btn" type="submit" id="login-button" value="登录" /> 
        </form>
    </div>
</template>