<template name="partner_detail">
	<div class="partner_detail">
		<div class="head">
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
			<strong>搭伙详情</strong>
            <button id="socialsharing" class="h-fx rightButton btn btn-default">分享</button>
		</div>
		<div style="position:relative;padding-top:45px;background-color:#f6f5f3;padding-bottom: 15px;">
			<div class="partner_lists">
                <dl class="dl">
                    <dt class="userHome" id="{{partner.userId}}"><img src="{{partner.userPicture}}"></dt>
                    <div class="userName"><b class="userHome" id="{{partner.userId}}">{{partner.nike}}</b></div>
                    <div class="createAt">
                          {{#if  partner.title}}
                          <div>{{partner.title}}</div>
                          {{/if}}
                          <div><b>出发时间：</b>{{format_day partner.startDate partner.days}}</div>
                    </div>
                    <div class="report" id="{{partner._id}}" style="color:#86868D">举报</div>
                    {{#if showShop partner.shopId}}
                    <div id="{{partner.shopId}}" class="shop"><i class="fa fa-star" style="color:#ffd700"></i><span>{{partner.shopName}}</span></div>
                    {{/if}}
                </dl>
                <h3 class="h3 xc">{{partner.text}}</h3>
                <ol>
                    {{#each partner.images}}
                    <!--<li><img src="{{this.url}}" /></li>-->
                    <li class="photo"><img id="{{partner._id}}" class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}"></li>
                    {{/each}}
                </ol>
                <!--<div class="status">-->
                    <!--<div class="addres"><i class="fa fa-map-marker"></i><span>{{partner.city}}</span></div>-->
                <!--</div>-->
                <!--<div class="status">-->
                    <!--&lt;!&ndash;<div class="browse"><span>浏览({{views_count partner.views}})</span></div>&ndash;&gt;-->
                    <!--{{#each joins partner.toJoin}}-->
                      <!--<span class="viewer userHome" id="{{this.userId}}"><div class="join"></div><img src="{{get_face this.userId}}"></span>-->
                    <!--{{/each}}-->
                    <!--{{#each looks partner.toJoin partner.views}}-->
                      <!--<span class="viewer userHome" id="{{this.userId}}"><img src="{{get_face this.userId}}"></span>-->
                    <!--{{/each}}-->
                    <!--<span id="{{partner._id}}" class="viewer viewerList"><b>...</b></span>-->
                    <!--<div class="remark"><span>评论({{replys_count partner.replys}})</span></div>-->
                <!--</div>-->


        <div class="status">
            <!-- <div class="browse"><span>浏览({{views_count views}})</span></div> -->

            <div style="margin: px 0px;margin-bottom: 9px;">感兴趣的小伙伴</div>
            
              {{#each joins partner.toJoin}}
                      <span class="viewer userHome" id="{{userId}}"><div class="join"></div><img src="{{get_face userId}}"></span>
              {{/each}}
              {{#each looks partner.toJoin partner.views}}
                <span class="viewer userHome" id="{{userId}}"><img src="{{get_face userId}}"></span>
              {{/each}}
              <span id="{{partner._id}}" class="viewer viewerList" style="line-height: 33px;float: right;"> <i class="fa fa-chevron-right"></i></span>
            
        </div>

        <div class="status_addres">
            <div class="addres">
            {{#if partner.city}}
            <i class="fa fa-map-marker"></i>  <span>{{partner.city}}</span>
            {{/if}}
            </div>
            <div class="remark"><span><img src="/view_count.png" style="width:21px" > {{view_times partner.toJoin partner.views}}&nbsp;&nbsp;
            <img src="/tour_comment.png" > {{replys_count partner.replys}}</span></div>
    </div>

            </div>
		</div>
        <div class="chosedArea">
            <div class="chosedBar">
                <div class="focus" id="messageBar">评论({{replys_count partner.replys}})
<div style="
    border-top: 2px solid #11d2fe;
    width: 90px;
    margin: auto;
"></div>
                </div>
                <div id="likeBar">相似搭伙({{to_count similar_partners}})
<div style="
    border-top: 2px solid #11d2fe;
    width: 90px;
    display: none;
    margin: auto;
"></div>
                </div>
            </div>
            <div class="chosedContent">
                <div id="messageContent">
                    {{> reply_blackboard_list}}
                </div>
                <div id="likeContent" style=" display: none;">
                    <ul>
                        {{#each similar_partners}}
                        <li class="btn_similar" id="{{_id}}">
                            <div class="gravatar"><img src="{{userPicture}}" width="50" height="50"></div>
                            <div id="username">{{nike}}<!--<i class="fa fa-male" style="color: #1E90FF;"></i>-->
                                {{#if createdAt}}
                                <div id="time">{{time_diff createdAt}}</div>
                                {{/if}}
                            </div>
                            <div id="summary">{{text}}</div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
		<!--<div class="finding_partners">-->
			<!--<dl class="title"><dt></dt>-->
				<!--<dd>相似搭伙<i class="fa fa-chevron-right"></i>-->
				<!--</dd>-->
			<!--</dl>-->
			<!--<ul>-->
				<!--{{#each similar_partners}}-->
					<!--<li class="btn_similar" id="{{_id}}">-->
						<!--<div class="gravatar"><img src="{{userPicture}}" width="50" height="50"></div>-->
						<!--<div id="username">{{nike}}&lt;!&ndash;<i class="fa fa-male" style="color: #1E90FF;"></i>&ndash;&gt;-->
							<!--{{#if createdAt}}-->
								<!--<div id="time">{{time_diff createdAt}}</div>-->
							<!--{{/if}}-->
						<!--</div>-->
						<!--<div id="summary">{{text}}</div>-->
					<!--</li>-->
					<!--<div class="line">-->
						<!--<span></span>-->
					<!--</div>-->
				<!--{{/each}}-->
			<!--</ul>-->
		<!--</div>-->
		<!--<div style="padding:0 10px;">-->
            <!--{{> reply_blackboard_list}}-->
        <!--</div>-->
        {{> blackboard_footbar}}
	</div>
</template>
<!--
<template name="partner_remark">
    <li class="time"><span>{{time_diff createdAt}}</span></li>
    {{#if is_login_user username}}
    <li class="r">
        <div class="faceimg"><img src="{{userPicture}}" width='50' height='50'/></div>
        <div class="comment">{{comment}}</div>
    </li>
    {{else}}
    <li class="l">
        <div class="name">{{username}}</div>
        <div class="faceimg"><img src="{{userPicture}}" width='50' height='50'/></div>
        <div class="comment">{{comment}}</div>
    </li>
    {{/if}}
    <div class="clear"></div>
    {{clear_equal_time}}
</template>-->
