<template name="event_2015_01_index">
  <div class="head">
    <strong>发搭伙-抢客栈</strong>
    <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>      
  </div>
  <div id="event_2015-01_index">
    <div class="title">
      <img src="/event/2015-01/title.png" />
      <span>{{{event.subhead}}}</span>
    </div>
    <div class="form"><form role="form" id="event-form-add" class='event-form-add'>
      <div class="item">
        <label><i class="fa fa-exchange"></i>旅游线路</label><input id="title" type="text" class="form-control" placeholder="多个目的地请用空格分开" value="{{title}}" />
      </div>
      <div class="item">
        <label><i class="fa fa-clock-o"></i>出发时间</label><input id="date" type="date" class="form-control" value="{{date}}" />
      </div>
      {{#if is_not_mobile}}
      <div class="item">
        <label><i class="fa fa-phone"></i>手机号码</label><input id="mobile" type="text" class="form-control" placeholder="用于接收获奖通知" value="{{mobile}}" />
      </div>
      {{/if}}
      <div class="item">
        <label><i class="fa fa-calendar"></i>旅游天数</label><input id="days" type="text" class="form-control" value="{{days}}" />
      </div>
      <div class="item-all">
        <textarea id="intro" class="form-control" placeholder="说点什么" rows="4">{{intro}}</textarea>
      </div>
      <div>
        {{> public_upload_index}}
      </div>
      <div class="butbar">
        <button type="submit" class="btn btn-default">发搭伙-抢客栈</button>
      </div>
      <div class="describe">
        {{{event.describe}}}
      </div>
    </form></div>
  </div>
</template>