<template name="shop">
    <div class="head">
        <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
        <strong>商户</strong>
    </div>
    <div id="shop_page">
        <div class="blackborad">
            <div class="title">{{shop.profile.business}}</div>
        </div>
        <ul class="tabs">
            <Li class="tab hover" id="shop_summary">简介</Li>
            <Li class="tab" id="shop_partner_list">搭伙</Li>
            <Li class="tab" id="shop_service">服务</Li>
        </ul>
        {{> Template.dynamic template=shop_view}}
    </div>
</template>
<template name="shop_partner_list">
  <div style="margin-bottom: 54px;">
  {{#each lists}}
  {{> theme_list}}
  {{/each}}
  </div>
</template>
<template name="shop_service">
    <div id="blackboard" style="margin-top: -45px;">
        <div class="blackboard_main">
            {{> blackboard_main_post}}
        </div>
    </div>
</template>
<template name="shop_list">
    <div id="shopList" style="margin-top:60px;">
        <div class="head">
            <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
            <strong>选择商户</strong>
        </div>
        <div class="seach">
            <input type="search" id="shop_key" class="shop_key form-control" placeholder="点击输入查询..." style="width:94%;">
        </div>
        <div class="select_shop">
            <div class="list">
                <ul>
                    <li class="shop" shopId="" shopName="无">无</li>
                    {{#each shops}}
                    {{#if hasname profile.business}}
                    <li class="shop" shopId="{{_id}}" shopName="{{profile.business}}">{{profile.business}}</li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>