.func_buttons_container {
    position: relative;
    top: 50px;
    margin: 15px;
}

.func_buttons_container ul li {
    text-align: center;
    margin: 10px;
}

.func_buttons_container ul li button{
    border-radius: 20px;
    font-size: 18px;
    width: 200px;
    background-color: dodgerblue;
    color: white;
    
}

.apply_container {
    position: relative;
    top: 80px;
    text-align: center;
}

.apply_container button{
    font-size: 18px;
    width: 300px;
}

.exit_container {
    position: relative;
    top: 150px;
    text-align: center;
}

.exit_container button{
    font-size: 18px;
    width: 300px;
}