<template name="apply_partner">
    <div class="dashBoard" style="margin-bottom: 70px">
		<div class="head">
			<strong>系统设置</strong>
            <i class="leftIcon fa fa-chevron-left fa-lg"></i>
		</div>
        <div class="func_buttons_container">
            <ul>
                <li><button type="button" class="btn btn-default">把软件分享给朋友</button></li>
                <li><button type="button" class="btn btn-default">清除缓存</button></li>
                <li><button type="button" class="btn btn-default">给我们一个评价</button></li>
                <li><button type="button" class="btn btn-default">意见反馈</button></li>
                <li><button type="button" class="btn btn-default">检查更新</button></li>
            </ul>
        </div>
        <div class="apply_container">
            <button id="btn_apply_partner" type="button" class="btn btn-default">申请成为商家</button>
        </div>
        <div class="exit_container">
            <button type="button" class="btn btn-danger">退出登录</button>
        </div>
	</div>
</template>