<template name="manage_users">
    <div class="head">
      <strong>用户管理</strong>
      <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
    </div>
    <div class="users">
        <ol id="qtype">
            <li id="0" class="on">全部</li>
            <li id="1">商家</li>
            <li id="2">当地</li>
            <li id="3">待商</li>
            <li id="4">待当</li>
            <li id="5">举报</li>
        </ol>
        <p>
          <input type="text" id="usearch" placeholder="搜索用户名" style="width:60%;" >
          <button id="search-btn" type="button" class="btn btn-default search-btn" style="width:30%;">搜索</button>
        </p>
        <dl><dt>帐号</dt><dd>更多</dd><dd>管理</dd><dd>商家</dd><dd>当地</dd><dd>测试</dd></dl>
        {{#each users}}
        <dl id="{{_id}}">
            <dt id="{{_id}}">{{profile.nike}}</dt>
            <dd id="{{_id}}" type="more" class="fa fa-ellipsis-h"></dd>
            {{#if admin this.profile.isAdmin}}
            <dd id="{{_id}}" value="2" type="isAdmin" class="fa fa-circle"></dd>
            {{else}}
            <dd id="{{_id}}" value="0" type="isAdmin" class="fa fa-circle-o"></dd>
            {{/if}}
            {{#if be this.profile.isBusiness}}
            <dd id="{{_id}}" value="1" type="isBusiness" class="fa fa-circle"></dd>
            {{else}}
            <dd id="{{_id}}" value="0" type="isBusiness" class="fa fa-circle-o"></dd>
            {{/if}}
            {{#if be this.profile.isVip}}
            <dd id="{{_id}}" value="1" type="isVip" class="fa fa-circle"></dd>
            {{else}}
            <dd id="{{_id}}" value="0" type="isVip" class="fa fa-circle-o"></dd>
            {{/if}}
            {{#if be this.profile.isTestUser}}
            <dd id="{{_id}}" value="1" type="isTestUser" class="fa fa-circle"></dd>
            {{else}}
            <dd id="{{_id}}" value="0" type="isTestUser" class="fa fa-circle-o"></dd>
            {{/if}}
        </dl>
        {{/each}}
        需要通过浏览器上鼠标右键或在手机上长按，来选中用户。<br>
        <button style="margin:10px" id="delUsers" class="fa fa-trash">标记违规用户(不允许登录)</button>
    </div>
</template>
<template name="manage_users_more">
    <div class="head">
      <strong>用户管理</strong>
      <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
    </div>
    <div class="panel panel-default users">
      <div class="panel-heading">当地人称号</div>
      <div class="panel-body">
        <form class="user_tags_form" role="form">
          <div class="form-group">
            {{#if is_tagA}}
            <input checked="checked" id="tagA" name="tags" type="checkbox" value="旅游达人" /><label for="tagA">旅游达人</label><br />
            {{else}}
            <input id="tagA" name="tags" type="checkbox" value="旅游达人" /><label for="tagA">旅游达人</label><br />
            {{/if}}
            {{#if is_tagB}}
            <input checked="checked" id="tagB" name="tags" type="checkbox" value="客栈" /><label for="tagB">客栈</label><br />
            {{else}}
            <input id="tagB" name="tags" type="checkbox" value="客栈" /><label for="tagB">客栈</label><br />
            {{/if}}
            {{#if is_tagC}}
            <input checked="checked" id="tagC" name="tags" type="checkbox" value="吃货" /><label for="tagC">吃货</label><br />
            {{else}}
            <input id="tagC" name="tags" type="checkbox" value="吃货" /><label for="tagC">吃货</label><br />
            {{/if}}
            {{#if is_tagD}}
            <input checked="checked" id="tagD" name="tags" type="checkbox" value="俱乐部" /><label for="tagD">俱乐部</label><br />
            {{else}}
            <input id="tagD" name="tags" type="checkbox" value="俱乐部" /><label for="tagD">俱乐部</label><br />
            {{/if}}
          </div>
          <button type="submit" class="btn btn-default">修改</button>
        </form>
      </div>
    </div>
</template>
    
<template name="my_vip">
    <div class="dashBoard" style="margin-bottom: 70px">
        <div class="head">
          <strong>{{title}}</strong>
          <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
        </div>
        <ul class="my_detailed" style="padding-top:50px">
          <li id="tel"><i class="fa fa-phone"></i>联系电话：{{currentUser.profile.tel}}</li>
          <li id="identity"><i class="fa fa-newspaper-o"></i>身份证号：{{currentUser.profile.identity}}</li>
        </ul>
        <dl class="business_line">
            <dt>请上传个人身份证等相关证件</dt>
            {{#each images}}
            <dd style="background-image:url({{img}})"></dd>
            {{/each}}
            <dd id="add" class="fa fa-plus"> 选择图片</dd>
        </dl>
        <div class="btn_save">提交认证</div>
    </div>
</template>

<template name="my_business">
    <div class="dashBoard">
        <div class="head">
          <strong>{{title}}</strong>
          <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
        </div>
        <div class="set-up">
          <ul>
            <li id="business">
              <span class="label">商家名称</span>
              <span class="value">{{currentUser.profile.business}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="tel">
              <span class="label">联系电话</span>
              <span class="value">{{currentUser.profile.tel}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="address">
              <span class="label">商家地址</span>
              <span class="value">{{currentUser.profile.address}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="text">
              <span class="label">商家简介</span>
              <span class="value">{{currentUser.profile.text}}<i class="fa fa-angle-right"></i></span>
            </li>
          </ul>  
          <ul>
            <li id="typeImage">
              <span class="label">所属行业</span>
              <span class="value photo"><img src="{{currentUser.business.typeImage}}" /><i class="fa fa-angle-right"></i></span>
            </li>
            <li id="titleImage">
              <span class="label">店铺头像</span>
              <span class="value photo"><img src="{{currentUser.business.titleImage}}" /><i class="fa fa-angle-right"></i></span>
            </li>
          </ul>
          <ul>
            <li class="text">
              <span>请上传商家营业执照等相关证件</span>
              <button id="add" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;选择图片</button>
              <br />
              {{#each images}}
              <li style="padding-left: 0;display:inline;border-top: 0px solid #E8E4DD;"><img style="width:60px; height:60px; margin: 5px;" src="{{img}}" /><div id="deleteImage" style="width: 17px; height: 17px;position: absolute; right: -7px; top: -7px; background: url(/delete.png);background-position: 0px 0;background-size: 17px;"></div></li>
              {{/each}}
            </li>
          </ul>
          <div class="buttons"><button id="btn_save" type="button" class="btn btn-primary btn-block btn-lg">提交认证</button></div>
        </div>
    </div>
</template>

<template name="edit_business">
	<div class="dashBoard">
		<div class="head">
			<strong>商家名称</strong>
            {{#if eidt}}
            <div id="save" class="right-button">保存</div>
            <div id="cancel" class="left-button">取消</div>
            {{else}}
            <div id="btn_back" class="left-button">后退</div>
            <div id="edit" class="right-button">编辑</div>
            {{/if}}
		</div>
        <div class="set-up">
          <ul>
            <li class="text">
              {{#if eidt}}
              <input type="text" id="my_edit_business" placeholder="填写商家名称" value="{{business}}" />
              {{else}}
              <input type="text" readonly="readonly" id="my_edit_business" placeholder="填写商家名称" value="{{business}}" />
              {{/if}}
            </li>
          </ul>
        </div>
	</div>
</template>
<template name="edit_tel">
	<div class="dashBoard">
        <div class="head">
			<strong>联系电话</strong>
            {{#if eidt}}
            <div id="save" class="right-button">保存</div>
            <div id="cancel" class="left-button">取消</div>
            {{else}}
            <div id="btn_back" class="left-button">后退</div>
            <div id="edit" class="right-button">编辑</div>
            {{/if}}
		</div>
        <div class="set-up">
          <ul>
            <li class="text">
              {{#if eidt}}
              <input type="text" id="my_edit_tel" placeholder="输入联系电话号码" value="{{tel}}" />
              {{else}}
              <input type="text" readonly="readonly" id="my_edit_tel" placeholder="输入联系电话号码" value="{{tel}}" />
              {{/if}}
            </li>
          </ul>
        </div>
	</div>
</template>
<template name="edit_identity">
	<div class="dashBoard">
		<div class="head">
			<strong>身份证号</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
		<div class="my_edit">
			<input type="text" id="my_edit_identity" placeholder="输入身份证号码"  value="{{identity}}" style="width:95%;border-top:0px;margin-left:5px;height:25px;"/>
		</div>
	</div>
</template>
<template name="edit_address">
    <div class="dashBoard">
        <div class="head">
			<strong>商家地址</strong>
            {{#if eidt}}
            <div id="save" class="right-button">保存</div>
            <div id="cancel" class="left-button">取消</div>
            {{else}}
            <div id="btn_back" class="left-button">后退</div>
            <div id="edit" class="right-button">编辑</div>
            {{/if}}
		</div>
        <div class="set-up">
          <ul>
            <li class="text">
              {{#if eidt}}
              <input type="text" id="my_edit_address" placeholder="填写商家地址" value="{{address}}" />
              {{else}}
              <input type="text" readonly="readonly" id="my_edit_address" placeholder="填写商家地址" value="{{address}}" />
              {{/if}}
            </li>
          </ul>
        </div>
	</div>
</template>
<template name="edit_text">
    <div class="dashBoard">
        <div class="head">
			<strong>商家简介</strong>
            {{#if eidt}}
            <div id="save" class="right-button">保存</div>
            <div id="cancel" class="left-button">取消</div>
            {{else}}
            <div id="btn_back" class="left-button">后退</div>
            <div id="edit" class="right-button">编辑</div>
            {{/if}}
		</div>
        <div class="set-up">
          <ul>
            <li class="text">
              {{#if eidt}}
              <textarea type="text" id="my_edit_text" placeholder="填写商家简介" rows="8" value="{{text}}"></textarea>
              {{else}}
              <textarea type="text" readonly="readonly" id="my_edit_text" placeholder="填写商家简介" rows="8" value="{{text}}"></textarea>
              {{/if}}
            </li>
          </ul>
        </div>
	</div>  
</template>
<template name="edit_wifi">
	<div class="dashBoard">
		<div class="head">
			<strong>WIFI信息</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
		<ul class="my_detailed" style="padding-top:50px">
          {{#each wifi}}
          <li id="{{BSSID}}"><i class="fa fa-times"></i>热点名称：{{SSID}}</li>
          {{/each}}
        </ul>
        <br />
        <div class="btn_save">增加当前WIFI</div>
	</div>
</template>
<template name="edit_typeImage">
	<div class="dashBoard">
		<div class="head">
			<strong>所属行业</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="set-up">
          <ul id="my_edit_sex">
            {{#if type '/wifi/006.png'}}
            <li id="006">
              <span class="label">酒吧</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            {{else}}
            <li id="006">
              <span class="label">酒吧</span>
              <span class="value"></span>
            </li>
            {{/if}}
            {{#if type '/wifi/008.png'}}
            <li id="008">
              <span class="label">客栈</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            {{else}}
            <li id="008">
              <span class="label">客栈</span>
              <span class="value"></span>
            </li>
            {{/if}}
            {{#if type '/wifi/007.png'}}
            <li id="007">
              <span class="label">其它</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            {{else}}
            <li id="007">
              <span class="label">其它</span>
              <span class="value"></span>
            </li>
            {{/if}}
          </ul>
        </div>
    </div>
</template>