<template name="my_info">
  <style type="text/css">
    #wrap, #wrap .dashBoard, #wrap .dashBoard .set-up {
      background-color: #EFEFF4;
    }
    
    #wrap .dashBoard .set-up .buttons {
      border-top: 1px solid #EFEFF4;
      border-bottom: 1px solid #DEDEE6;
      padding-left: 0;
      padding-right: 0;
    }

    #wrap .dashBoard .set-up .buttons #btn_logout {
      border-radius: 0;
      width: 100%;
      color: #6E6E6E;
      background-color: #fff !important;
    }
  </style>

	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "mySelf"}}</strong>
		</div>
        <div class="set-up">
          {{#if is_anonymous}}
          <ul>
            <li id="my_face">
              {{#if is_face}}
              <span id="my_face_nickname" class="label face"><img src="{{currentUser.profile.picture}}" />{{nike}}</span>
              {{else}}
              <span id="my_face_nickname" class="label face"><img src="/user.png" />{{nike}}</span>
              {{/if}}
              <span class="value face">{{_ "editUserPic"}}<i class="fa fa-angle-right"></i></span>
            </li>
          </ul>
          <ul class="my_info">
            <li id="wallet">
              <span class="label"><i class="fa fa-jpy color-5"></i>{{_ "wallet"}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            <li id="nike">
              <span class="label"><i class="fa fa-tag color-2"></i>{{_ "nike"}}</span>
              <span class="value">{{currentUser.profile.nike}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="signature">
              <span class="label"><i class="fa fa-pencil color-6"></i>{{_ "signature"}}</span>
              <span class="value">{{currentUser.profile.signature}}<i class="fa fa-angle-right"></i></span>
            </li>
          </ul>
          {{else}}
          <ul>
            <li id="my_face">
              {{#if is_face}}
              <span id="my_face_nickname" class="label face"><img src="{{currentUser.profile.picture}}" />{{nike}}</span>
              {{else}}
              <span id="my_face_nickname" class="label face"><img src="/user.png" />{{nike}}</span>
              {{/if}}
              <span class="value face">{{_ "editUserPic"}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="my_blackboard_record">
              <span class="label"><i class="fa fa-joomla color-5"></i>{{_ "myShop"}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>            
          </ul>
          <ul class="my_info">
            <li id="wallet">
              <span class="label"><i class="fa fa-jpy color-5"></i>{{_ "wallet"}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            <li id="nike">
              <span class="label"><i class="fa fa-tag color-2"></i>{{_ "nike"}}</span>
              <span class="value">{{currentUser.profile.nike}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="sex">
              <span class="label"><i class="fa fa-circle-thin color-3"></i>{{_ "sex"}}</span>
              <span class="value">{{currentUser.profile.sex}}<i class="fa fa-angle-right"></i></span>
            </li>
            <li id="signature">
              <span class="label"><i class="fa fa-pencil color-6"></i>{{_ "signature"}}</span>
              <span class="value">{{currentUser.profile.signature}}<i class="fa fa-angle-right"></i></span>
            </li>
          </ul>
          {{#if manage}}
          <ul>
            <li id="btn_users">
              <span class="label"><i class="fa fa-user color-4"></i>{{_ "userManager"}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            <li id="btn_active">
              <span class="label"><i class="fa fa-pencil-square-o color-5"></i>{{_ "activityManager"}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
          </ul>
          {{/if}}
          {{/if}}
          <ul>
            <!--<li id="display_lang">
              <span class="label"><i class="fa fa-globe color-4"></i>{{_ "language"}}</span>
              {{#if isEnglish}}
                <span class="value">English<i class="fa fa-angle-right"></i></span>
              {{else}}
                <span class="value">中文<i class="fa fa-angle-right"></i></span>   
              {{/if}}
            </li>-->
            <li id="my_about">
              <span class="label"><i class="fa fa-info color-6"></i>{{_ "about"}}</span>
              <span class="value">v1.0.14<i class="fa fa-angle-right"></i></span>
            </li>
          </ul>
          <div class="buttons"><button id="btn_logout" type="button" class="h-anq btn btn-primary btn-block btn-lg">{{_ "logOut"}}</button></div>
        </div>
	</div>
</template>

<template name="my_partner">
    {{#each partner}}
    {{> theme_list}}
    {{/each}}
</template>
<template name="my_service">
    <div class="head">
            <strong>我的搭伙</strong>
            <div id="back_btn" class="leftButton" ><i class="fa fa-chevron-left" style="padding-right: 23px;"></i></div>
            <div id="line"></div>
    </div>
    <div style="margin-top: 60px;"></div>
    {{> my_service_main}}
</template>
<template name="my_blackboard">
    <div class="head">
            <strong>{{_ "myShop"}}</strong>
            <div id="back_btn" class="leftButton" ><i class="fa fa-chevron-left" style="padding-right: 23px;"></i></div>
            <div id="line"></div>
    </div>
    <div style="margin-top: 48px;"></div>
    {{> my_blackboard_main}}
</template>
<template name="my_photos">
    <ul class="my_photos">
        {{#each images}}
        <li><img class="lazy" src="/lazy-loading-70.gif" data-original="{{this.imageUrl}}" /></li>
        {{/each}}
    </ul>
</template>
<template name="my_detailed">
  <div class="dashBoard">
		<div class="head">
			<strong>{{_ "mySelf"}}</strong>
            <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
		<ul class="my_detailed" style="padding-top:48px;">
		  <li id="nike"><i class="fa fa-chevron-right"></i>{{_ "nike"}}：{{currentUser.profile.nike}}</li>
		  <li id="sex"><i class="fa fa-chevron-right"></i>{{_ "sex"}}：{{currentUser.profile.sex}}</li>
		  <li id="birthday"><i class="fa fa-chevron-right"></i>{{_ "birthday"}}：{{currentUser.profile.birthday}}</li>
		  <li id="province"><i class="fa fa-chevron-right"></i>{{_ "city"}}：{{currentUser.profile.city}}</li>
          <li id="signature"><i class="fa fa-chevron-right"></i>{{_ "signature"}}：{{currentUser.profile.signature}}</li>
		</ul>
  </div>
</template>

<template name="my_nike">
	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "nike"}}</strong>
            {{#if edit}}
            <div id="save" class="right-button">{{_ "save"}}</div>
            <div id="cancel" class="left-button">{{_ "undo"}}</div>
            {{else}}
            <div id="btn_back" class="left-button">{{_ "back"}}</div>
            <div id="edit" class="right-button">{{_ "edit"}}</div>
            {{/if}}
		</div>
        <div class="set-up">
          <ul>
            <li class="text">
              {{#if edit}}
              <input type="text" id="my_edit_nike" placeholder="{{_ 'enterNike'}}" value="{{nike}}" />
              {{else}}
              <input type="text" readonly="readonly" id="my_edit_nike" placeholder="{{_ 'enterNike'}}" value="{{nike}}" />
              {{/if}}
            </li>
          </ul>
        </div>
	</div>
</template>
<template name="my_signature">
	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "signature"}}</strong>
			{{#if edit}}
            <div id="save" class="right-button">{{_ "save"}}</div>
            <div id="cancel" class="left-button">{{_ "undo"}}</div>
            {{else}}
            <div id="btn_back" class="left-button">{{_ "back"}}</div>
            <div id="edit" class="right-button">{{_ "edit"}}</div>
            {{/if}}
		</div>
        <div class="set-up">
          <ul>
            <li class="text">
              {{#if edit}}
              <textarea type="text" id="my_edit_signature" placeholder="{{_ 'editSignature'}}" rows="4" value="{{signature}}"></textarea>
              {{else}}
              <textarea type="text" readonly="readonly" id="my_edit_signature" placeholder="{{_ 'editSignature'}}" rows="4" value="{{signature}}"></textarea>
              {{/if}}
            </li>
          </ul>
        </div>
	</div>
</template>

<template name="my_birthday">
	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "birthday"}}</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="set-up">
          <ul>
            <li>
              <span class="label">{{_ "birthday"}}</span>
              {{#if isAndroid}}
              <span class="value"><input type="text" id="my_edit_birthday" value="{{birthday}}" placeholder="{{_ 'selectBirthday'}}" /></span>
              {{else}}
              <span class="value"><input type="date" id="my_edit_birthday" value="{{birthday}}" placeholder="{{_ 'selectBirthday'}}" /></span>
              {{/if}}
            </li>
          </ul>
        </div>
	</div>
</template>

<template name="my_sex">
	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "sex"}}</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="set-up">
          <ul id="my_edit_sex">
            {{#if sex}}
            <li id="男">
              <span class="label">{{_ "man"}}</span>
              <span class="value"></span>
            </li>
            <li id="女">
              <span class="label">{{_ "women"}}</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            {{else}}
            <li id="男">
              <span class="label">{{_ "man"}}</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            <li id="女">
              <span class="label">{{_ "women"}}</span>
              <span class="value"></span>
            </li>
            {{/if}}
          </ul>
        </div>
	</div>
</template>

<template name="my_province">
	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "selectProvience"}}</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="set-up">
          <ul>
            {{#each province}}
            <li ProID="{{ProID}}" name="{{name}}">
              <span class="label">{{name}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            {{/each}}
          </ul>
        </div>
	</div>
</template>

<template name="my_city">
	<div class="dashBoard">
		<div class="head">
			<strong>{{_ "selectCity"}}</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="set-up">
          <ul>
            {{#each city}}
            <li CityID="{{CityID}}" name="{{name}}">
              <span class="label">{{name}}</span>
              <span class="value"><i class="fa fa-angle-right"></i></span>
            </li>
            {{/each}}
          </ul>
        </div>
	</div>
</template>

<template name="display_lang">
  <div class="dashBoard">
		<div class="head">
			<strong>{{_ "language"}}</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="set-up">
          <ul id="my_edit_sex">
            {{#if isEnglish}}
            <li id="english">
              <span class="label">{{_ "English"}}</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            <li id="chinese">
              <span class="label">{{_ "Chinese"}}</span>
              <span class="value"></span>
            </li>
            {{else}}
            <li id="english">
              <span class="label">{{_ "English"}}</span>
              <span class="value"></span>
            </li>
            <li id="chinese">
              <span class="label">{{_ "Chinese"}}</span>
              <span class="value"><i class="fa fa-check"></i></span>
            </li>
            {{/if}}
          </ul>
        </div>
  </div>
</template>
