.rightIcon {
    position: absolute;
    right: 10px;
    top: 15px;
}

.form1_container {
    position: relative;
    top: 50px;
    margin: 20px;
}

.form1_container form {
    width: 100%;
}

.form1_container form table {
    width: 100%;
    font-size: 16px;
}

.form1_container form table .title_clm {
    width: 30%;
}

.form1_container form table .input_clm {
    width: 70%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form1_container form table .input_clm input{
    width: 100%;
}

.form1_container form table .input_clm select{
    width: 100%;
}

.step_indicator {
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
}

.step_indicator h5{
    font-size: 20px;
    color: lightgreen;
}

.bottom_btn_container #btn_next_form1 {
    color: white;
    font-size: 20px;
    background-color: dodgerblue;
    border-radius: 30px;
    padding: 10px;
    width: 160px;
}

