<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.synconset.imagepicker"
  version="1.0.6">

	<name>ImagePicker</name>
	 
	<description>
		This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
	</description>
	
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>  

	<js-module src="www/imagepicker.js" name="ImagePicker">
		<clobbers target="plugins.imagePicker" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="ios-package" value="SOSPicker"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SOSPicker.h" />
		<source-file src="src/ios/SOSPicker.m" />

        <header-file src="src/ios/DNImagePicker/DNAlbumTableViewController.h" />
        <source-file src="src/ios/DNImagePicker/DNAlbumTableViewController.m" />

        <header-file src="src/ios/DNImagePicker/DNAsset.h" />
        <source-file src="src/ios/DNImagePicker/DNAsset.m" />

        <header-file src="src/ios/DNImagePicker/DNImageFlowViewController.h" />
        <source-file src="src/ios/DNImagePicker/DNImageFlowViewController.m" />

        <header-file src="src/ios/DNImagePicker/DNImagePickerController.h" />
        <source-file src="src/ios/DNImagePicker/DNImagePickerController.m" />

        <header-file src="src/ios/DNImagePicker/DNPhotoBrowser.h" />
        <source-file src="src/ios/DNImagePicker/DNPhotoBrowser.m" />

        <header-file src="src/ios/DNImagePicker/Extensions/NSURL+DNIMagePickerUrlEqual.h" />
        <source-file src="src/ios/DNImagePicker/Extensions/NSURL+DNIMagePickerUrlEqual.m" />

        <header-file src="src/ios/DNImagePicker/Extensions/UIColor+Hex.h" />
        <source-file src="src/ios/DNImagePicker/Extensions/UIColor+Hex.m" />

        <header-file src="src/ios/DNImagePicker/Extensions/UIView+DNImagePicker.h" />
        <source-file src="src/ios/DNImagePicker/Extensions/UIView+DNImagePicker.m" />

        <header-file src="src/ios/DNImagePicker/Extensions/UIViewController+DNImagePicker.h" />
        <source-file src="src/ios/DNImagePicker/Extensions/UIViewController+DNImagePicker.m" />

        <header-file src="src/ios/DNImagePicker/Views/DNAssetsViewCell.h" />
        <source-file src="src/ios/DNImagePicker/Views/DNAssetsViewCell.m" />

        <header-file src="src/ios/DNImagePicker/Views/DNBadgeLabel.h" />
        <source-file src="src/ios/DNImagePicker/Views/DNBadgeLabel.m" />

        <header-file src="src/ios/DNImagePicker/Views/DNBrowserCell.h" />
        <source-file src="src/ios/DNImagePicker/Views/DNBrowserCell.m" />

        <header-file src="src/ios/DNImagePicker/Views/DNFullImageButton.h" />
        <source-file src="src/ios/DNImagePicker/Views/DNFullImageButton.m" />

        <header-file src="src/ios/DNImagePicker/Views/DNSendButton.h" />
        <source-file src="src/ios/DNImagePicker/Views/DNSendButton.m" />

        <header-file src="src/ios/DNImagePicker/Views/DNUnAuthorizedTipsView.h" />
        <source-file src="src/ios/DNImagePicker/Views/DNUnAuthorizedTipsView.m" />

        <header-file src="src/ios/DNImagePicker/Views/JKPromptView.h" />
        <source-file src="src/ios/DNImagePicker/Views/JKPromptView.m" />

        <header-file src="src/ios/DNImagePicker/Views/MWTapDetectingImageView.h" />
        <source-file src="src/ios/DNImagePicker/Views/MWTapDetectingImageView.m" />

        <resource-file src="src/ios/DNImagePicker/zh-Hans.lproj/DNImagePicker.strings" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/assets_placeholder_picture.imageset/assets_placeholder_picture@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/camera_edit_cut_cancel.imageset/camera_edit_cut_cancel@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/camera_edit_cut_cancel_highlighted.imageset/camera_edit_cut_cancel_highlighted@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original.imageset/compose_photo_original@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original.imageset/compose_photo_original@3x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original_highlighted.imageset/compose_photo_original_highlighted@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original_highlighted.imageset/compose_photo_original_highlighted@3x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph.imageset/compose_photograph@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph.imageset/compose_photograph@3x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph_background.imageset/compose_photograph_background@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph_highlighted.imageset/compose_photograph_highlighted@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph_highlighted.imageset/compose_photograph_highlighted@3x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/navigationbar_arrow_down.imageset/navigationbar_arrow_down@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/navigationbar_arrow_up.imageset/navigationbar_arrow_up@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/navigationbar_title_highlighted.imageset/navigationbar_title_highlighted@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_default.imageset/photo_check_default@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_default.imageset/photo_check_default@3x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_selected.imageset/photo_check_selected@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_selected.imageset/photo_check_selected@3x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_alert_sigh.imageset/picker_alert_sigh@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_button_orange.imageset/picker_button_orange@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_button_orange_highlighted.imageset/picker_button_orange_highlighted@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_image_placeholder.imageset/picker_image_placeholder@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_photo_filter_checked.imageset/picker_photo_filter_checked@2x.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/back_normal.imageset/back_normal.png" />
        <resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/back_highlight.imageset/back_highlight.png" />
	</platform>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@android:style/Theme.Holo.Light">
                <intent-filter>
                    <action android:name="com.synconset.MultiImageChooserActivity" />
                </intent-filter>
            </activity>
       	<activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorPreview"
            android:label="点击图片" >
        </activity>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<framework src="src/android/Library/Android-Ultra-Photo-Selector" custom="true"/>
		

		<source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/com/synconset" />
		
		<source-file src="src/android/Library/src/ImageFetcher.java" target-dir="src/com/synconset"/>
		<source-file src="src/android/Library/src/MultiImageChooserActivity.java" target-dir="src/com/synconset"/>
		<source-file src="src/android/Library/src/ImageInfo.java" target-dir="src/com/synconset"/>
		
        <source-file src="src/android/Library/res/anim/image_pop_in.xml" target-dir="res/anim"/>
		<source-file src="src/android/Library/res/drawable/grid_background.xml" target-dir="res/drawable"/>
		<source-file src="src/android/Library/res/drawable-hdpi/image_bg.9.png" target-dir="res/drawable-hdpi"/>
		<source-file src="src/android/Library/res/drawable-hdpi/loading_icon.png" target-dir="res/drawable-hdpi"/>
		<source-file src="src/android/Library/res/drawable-mdpi/ic_action_discard_dark.png" target-dir="res/drawable-mdpi"/>
		<source-file src="src/android/Library/res/drawable-mdpi/ic_action_discard_light.png" target-dir="res/drawable-mdpi"/>
		<source-file src="src/android/Library/res/drawable-mdpi/ic_action_done_dark.png" target-dir="res/drawable-mdpi"/>
		<source-file src="src/android/Library/res/drawable-mdpi/ic_action_done_light.png" target-dir="res/drawable-mdpi"/>
		<source-file src="src/android/Library/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi"/>
		<source-file src="src/android/Library/res/drawable-xhdpi/ic_action_discard_dark.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/Library/res/drawable-xhdpi/ic_action_discard_light.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/Library/res/drawable-xhdpi/ic_action_done_dark.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/Library/res/drawable-xhdpi/ic_action_done_light.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/Library/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/Library/res/layout/actionbar_custom_view_done_discard.xml" target-dir="res/layout"/>
		<source-file src="src/android/Library/res/layout/actionbar_discard_button.xml" target-dir="res/layout"/>
		<source-file src="src/android/Library/res/layout/actionbar_done_button.xml" target-dir="res/layout"/>
		<source-file src="src/android/Library/res/layout/multiselectorgrid.xml" target-dir="res/layout"/>
		<source-file src="src/android/Library/res/values/multiimagechooser_strings_en.xml" target-dir="res/values"/>
		<source-file src="src/android/Library/res/values/themes.xml" target-dir="res/values"/>
	</platform>
</plugin>
