.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: sans-serif;
    background-color: #315481;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

header h3 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight:bold;
}