<template name="notes_detail">
  <div id="activity_detail" class="notes">
    <div class="head">
        <strong>{{titleName}}</strong>
        <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>      
    </div>
    {{#if post}}
        {{#if post.html}}
        {{{post.html}}}
        {{else}}
        <div class="content">
          <div class="y1_all" >
              <div class="y1_detail">
                  <div style="text-align:center;">
                    <span>{{post.title}}</span>
                    <br />
                    {{post.userName}}
                  </div>
                  <br />
                  <div>
                    {{post.content}}
                  </div>
                  <div class="y1_content">
                      <div class="y1_plan image_view" >
                        {{#each post.images}}
                        <img src="{{url}}" style="width:60px;padding: 3px; margin: 7px; border: 1px solid #ccc" />
                        {{/each}}
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {{/if}}
        <div class="status">
          <div class="timer"><i class="fa fa-clock-o"></i>{{time_diff post.createdAt}}</div>
          <div class="good"><i class="fa fa-heart-o"></i>{{show_good post.good}}</div>
        </div>
        <div style="margin: 0 10px;">{{> reply_blackboard_list}}</div>
        {{> blackboard_footbar}}
    {{else}}
      <div class="content" style=" text-align: center;">
          <span style=" line-height: 100px;">店家尚未发布相关文章介绍</span>
      </div>
    {{/if}}
  </div>
</template>