<!-- @Tim -->
<template name="reportList">
	<div class="reportLists">
      <div class="head">
        <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
        <strong>被举报列表</strong>
        <!--<button id="btn_submit" class="rightButton btn btn-default">提交</button>-->
        <div id="line"></div>
        <div id="header_navbar" class="navbar navbar-default">
            <div class="btn-group btn-group-justified">
                <div class="btn-group" id="partnerReport">
                    <div>搭伙</div>
                </div>
                <div class="btn-group" id="localReport">
                    <div>当地人</div>
                </div>
            </div>
        </div>
      </div>
      
      <div id="report_list" style="position: relative; padding-top: 100px;">
        {{> Template.dynamic template=rview}}
      </div>
    </div>
</template>

<template name="partnerReport">
    {{#each lists}}
    {{> theme_list}}
    {{/each}}
</template>

<template name="localReport">
  <div id="blackboard" style="padding-top: 0px;">
    <div class="blackboard_main">
      <div class="list">
      {{#each lists}}
      {{> blackboard_post}}
      {{/each}}
      </div>
    </div>
  </div>
</template>