<template name='spinner_master'>
  <div class='spinner-overlay'>
    <div class='spinner center'>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
      <div class='spinner-blade'></div>
    </div>
  </div>
</template>