<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.oauth.wechat" version="0.0.1">
  <name>WechatOauth</name>
  <description>Plugin for Wechat get user info</description>
  <author>lv</author>
  <license>Apache 2.0</license>
  <keywords>cordova,device,wechat,social,oauth</keywords>

  <js-module src="www/wechat_oauth.js" name="WechatOauth">
    <clobbers target="WechatOauth" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WechatOauth">
        <param name="android-package" value="com.oauth.wechat.WechatOauth"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
     <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
    </config-file>

    
    <source-file src="src/android/libs/volley.jar" target-dir="libs"/>
    <source-file src="src/android/src/WechatOauth.java" target-dir="src/com/oauth/wechat" />
    <source-file src="src/android/src/WXEntryActivity.java" target-dir="src/org/cloneboxassistant/together/wxapi" />
    
  </platform>
</plugin>
