<template name="viewers">
    <div class="viewers">
        <div class="head">
			<strong>详情</strong>
			<div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
		</div>
        <div class="viewerList">
            <div class="module">
                <tt><b>已参加</b></tt>
            </div>
            <ul>
              <li>
                {{#each toJoin}}
                  <span class="viewer userHome" id="{{this.userId}}"><div class="join"></div><img src="{{get_face this.userId}}"></span>
                {{/each}}
              </li>
            </ul>
            <div class="bg"></div>
            <div class="module">
                <tt><b>已浏览</b></tt>
            </div>
          <ul>
            <li>
              {{#each views}}
                <span class="viewer userHome" id="{{this.userId}}"><img src="{{get_face this.userId}}"></span>
              {{/each}}
            </li>
          </ul>
        </div>
    </div>
</template>