<template name="notes_add">
  <div id="partner_activities">
    <div class="head">
        {{#if is_blackborad}}
        <strong >小黑板</strong>
        {{else}}
        <strong >{{title}}</strong>
        {{/if}}
        <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>  
        <button class="button_right rightButton btn btn-default">完成</button>
    </div>
    <form role="form" id="add-notes-form" class='add-notes-form'>
      <div class="add_partner" style="padding: 10px 10px;margin-bottom: 40px;">
          {{#if is_blackborad}}
          <dl>
              <dt>标题</dt>
              <dd>
                <input id="title" name="title" type="text" value="" style="width:90%;" placeholder="标题">
              </dd>
          </dl>
          <dl>
              <dt>简短描述</dt>
              <dd>
                <textarea id="subtitle" name="subtitle" placeholder="简短描述" style="width:90%;height:100px;" value=""></textarea>
              </dd>
          </dl>
          {{else}}
          <dl>
              <dt>标题</dt>
              <dd><input id="title" name="title" type="text" value="" style="width:90%;" placeholder="文章标题"></dd>
          </dl>
          {{#if is_admin}}
          <dl>
              <dt>标题图片</dt>
              <dd><input id="titleImage" name="titleImage" type="text" value="" style="width:90%;" placeholder="标题图片"></dd>
          </dl>
          {{/if}}
          {{/if}}
          <dl id="content_dl" >
              <dt>内容介绍</dt>
              <dd><textarea id="content" name="content" placeholder="介绍内容" style="width:90%;height:150px;" value=""></textarea>
              <i id="delete" class="fa fa-trash-o fa-3x delete" style="font-size:24px;color:#eb3941"></i></dd>
          </dl>
          <button type="button" id="addphoto" style="margin-top: 10px;background-color: transparent;border: 0px;">
           <div> <i class="fa fa-photo fa-3x" style="font-size:24px;padding: 10px;"></i></div>
          插入图片</button>

          <button type="button" id="addtext" style="margin-top: 10px;margin-top: 10px;background-color: transparent;border: 0px;" >
           <div> <i class="fa fa-file-text fa-3x" style="font-size:24px;padding: 10px;"></i></div>
          插入文字</button>
        
          {{#if is_blackborad}}
<!--
          <button type="button" id="addtext" style="margin-top: 10px;margin-top: 10px;background-color: transparent;border: 0px;" >
           <div> <i class="fa fa-calendar-o fa-3x" style="font-size:24px;padding: 10px;"></i></div>
          插入行程</button>
-->
          {{/if}}
       <!--    <ul id="photos">
              <li>
              {{#each files}}
              <a href="#" target="_blank"><img src="{{url}}" style="width:60px;"></a>
              {{/each}}
              </li>
              <span class="fa fa-spinner fa-spin" id="loading" style="display:none">上传中，请稍候...</span>
          </ul> -->
      </div>
    </form>
  </div>
</template>