<template name="about_youzha">
    <div class="dashBoard" style="margin-bottom: 70px">
		<div class="head">
			<strong>about Pokegym Go</strong>
            <i class="leftIcon fa fa-chevron-left fa-lg" style="padding-right:40px;padding-top: 5px;padding-bottom:5px; color:#fff;"></i>
		</div>
        <div class="about_title">
            <h4>Pokegym Go</h4>            
        </div>
        <div class="about_content">
            <ul>
                <li>*about Pokegym Go.</li>
            </ul>
        </div>
	</div>
</template>