.about_title {
    position: relative;
    /* top: 80px; */
    text-align: center;
    padding-top: 80px;
}

.about_content {
    position: relative;
    /* top: 80px; */
    margin: 15px;
    font-size: 110%;
    line-height: 180%;
}