<template name="partner_form1">
    <div class="dashBoard" style="margin-bottom: 70px">
		<div class="head">
			<strong>商户申请</strong>
            <i class="leftIcon fa fa-chevron-left fa-lg"></i>
            <i class="rightIcon fa fa-check fa-lg"></i>
		</div>
        <div class="form1_container">
            <form>
                <table>
                    <tr>
                        <td class="title_clm">商户名称</td>
                        <td class="input_clm"><input type="text" name="partner_name" placeholder="最多输入12个汉字"></td>
                    </tr>
                    <tr>
                        <td class="title_clm">商户地址</td>
                        <td class="input_clm"><input type="text" name="partner_addr" placeholder="请输入商家详细地址"></td>
                    </tr>
                    <tr>
                        <td class="title_clm">联系电话</td>
                        <td class="input_clm"><input type="text" name="partner_phone" placeholder="请输入商家联系电话"></td>
                    </tr>
                    <tr>
                        <td class="title_clm">负责人</td>
                        <td class="input_clm"><input type="text" name="partner_boss" placeholder="请输入负责人姓名"></td>
                    </tr>
                    <tr>
                        <td class="title_clm">负责人电话</td>
                        <td class="input_clm"><input type="text" name="partner_boss_phone" placeholder="请输入负责人电话"></td>
                    </tr>
                    <tr>
                        <td class="title_clm">商户类型</td>
                        <td class="input_clm">
                            <select name="partner_sort">
                                <option value="hotel">酒店</option>
                                <option value="food">餐饮</option>
                                <option value="travel">旅游</option>
                                <option value="finance">金融</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="step_indicator">
            <h5>步骤: 1/2</h5>
        </div>
        <div class="bottom_btn_container">
            <button id="btn_next_form1" type="button" class="btn btn-default">下一步</button>
        </div>
	</div>
</template>