<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.share.wechatShare"
  version="0.0.1">
  <name>WechatShare</name>
  <description>Plugin for Wechat share</description>
  <author>lv</author>
  <license>Apache 2.0</license>
  <keywords>cordova,device,wechat,social,share</keywords>

  <js-module src="www/wechat_share.js" name="WechatShare">
    <clobbers target="WechatShare" />
  </js-module>

    <platform name="ios">
    <preference name="APP_ID" />

    <config-file target="config.xml" parent="/*">
      <feature name="WechatShare">
        <param name="ios-package" value="CDVWeChat"/>
      </feature>
      <preference name="wechatappid" value="$APP_ID" />
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLName</key>
          <string>weixin</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$APP_ID</string>
          </array>
        </dict>
      </array>
    </config-file>

    <framework src="libc++.dylib" />
    <framework src="libz.dylib" />
    <framework src="libsqlite3.0.dylib" />
    <framework src="Security.framework" />
    <framework src="SystemConfiguration.framework" />

    <source-file src="src/ios/libWeChatSDK.a" framework="true" />

    <header-file src="src/ios/WXApi.h" />
    <header-file src="src/ios/WXApiObject.h" />

    <header-file src="src/ios/CDVWeChat.h" />
    <source-file src="src/ios/CDVWeChat.m" />

  </platform>


  <!-- android -->
  <!--<platform name="android">
    <preference name="APP_ID" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WechatShare">
        <param name="android-package" value="com.share.wechatShare.WechatShare"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>

    <source-file src="src/android/libs/libammsdk.jar" target-dir="libs"/>
    <source-file src="src/android/src/WechatShare.java" target-dir="src/com/share/wechatShare" />
  </platform>-->
</plugin>
