<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.moya.imagebase64" version="0.1.0">
  <name>Image Resizer</name>
  <description>Plugin for resizing images only with the uri of the image.</description>
  <author>MOYA</author>
  <license>Apache 2.0</license>
  <keywords>cordova,device,resize,image,base64</keywords>
  <repo>ssh://git@115.28.3.237:/home/git/cordova-plugin-image-base64.git</repo>

  <js-module src="www/image_base64.js" name="ImageBase64">
    <clobbers target="ImageBase64" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ImageBase64">
        <param name="android-package" value="com.moya.imagebase64.ImageBase64"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/ImageBase64.java" target-dir="src/com/moya/imagebase64" />
    <source-file src="src/android/FileHelper.java" target-dir="src/com/moya/imagebase64" />
  </platform>
</plugin>
