<template name="chat_home">
    <div id="chat">
        <div class="home">
            <div class="head">
                <strong>{{page_title}}{{#if isBusiness}}<span>[{{_ "businessUser"}}]</span>{{/if}}</strong>
                <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>      
            </div>
        </div>
        {{> chat_home_list}}
      {{#if isReply}}
        {{> chat_add_toolbar}}
      {{/if}}
    </div>
</template>
<template name="chat_home_list">
    <div id="message-box" class="message-box">
        <div id="remark" class="remark">
            <div id="chat-dashboard-blank" class="chat-dashboard-blank"></div>
            {{#if hasMore}}
                <div id="load-more-chatshistory" class="down-load-more">{{_ "downToShowMore"}}</div>
            {{else}}
                <div id="load-more-chatshistory" class="down-load-more"></div>
            {{/if}}
            {{#each chats}}
                <ul>
                    {{#if is_show_time createdAt}}
                    <li class="time"><span>{{time_diff createdAt}}</span></li>
                    {{/if}}
                    {{> chat_message_dashboard data=this}}
                    <div class="clear"></div>
                </ul>
            {{/each}}
        </div>
    </div>
</template>

<template name="chat_message_dashboard">
    {{#with data}}
        {{#if is_my_say this}}
          <li id="{{_id}}" class="r">
            {{#if text}}
              <div class="faceimg"><img src="{{m_userPicture}}" width='50' height='50'/></div>
              <div class="comment deleteChat">{{text}}</div>
            {{else}}
              {{#if isUploading photoStatus}}
                {{#if isUploadError photoStatus}}
                  <ul class="upload upload-error" id="{{this.photoStatus.id}}" style="margin-right:-50px;">
                    <li class="r">
                      <div class="faceimg"><img src="{{m_userPicture}}" width="50" height="50"/></div>
                      <div class="comment">
                        <div class="upload-bar">
                          <img class="chatimg" height="100px" src="{{photoPath}}">
                          <div class="mask"></div>
                          <div class="tips"><i class="fa fa-refresh fa-spin"></i>0%</div>
                        </div>
                      </div>
                    </li>
                    <div class="clear"></div>
                  </ul>
                {{else}}
                  <ul class="upload upload-wait" tag="{{_id}}" style="margin-right:-50px;">
                    <li class="r">
                      <div class="faceimg"><img src="{{m_userPicture}}" width="50" height="50"/></div>
                      <div class="comment">
                        <div class="upload-bar">
                          <img class="chatimg" height="100px" src="{{photoPath}}">
                          <div class="mask"></div>
                          <div class="tips"><i class="fa fa-refresh fa-spin"></i>0%</div>
                        </div>
                      </div>
                    </li>
                    <div class="clear"></div>
                  </ul>
                {{/if}}

              {{else}}
                <div class="faceimg"><img src="{{m_userPicture}}" width='50' height='50'/></div>
                <div class="comment">
                  <img class="lazy chatimg" height='100px' src="/lazy-loading-70.gif" data-original="{{photoPath}}">
                  <!--<img src="{{photoPath}}" height='100px' class="chatimg" />
                  <span class="fa fa-spinner fa-spin loadingPhoto" id="loading"></span>-->
                </div>
              {{/if}}
            {{/if}}
          </li>
        {{else}}
          {{#if isUploading photoStatus}}
            {{#if isUploadError photoStatus}}      
              <!--错误不显示-->
            {{else}}
              <li id="{{_id}}" class="l">
                <div class="name">{{m_toUserName}}&nbsp;</div>
                <div class="faceimg"><img src="{{m_toUserPicture}}" width='50' height='50'/></div>
                <ul class="upload" id="{{this.photoStatus.id}}" style="margin-left:-50px;">
                  <li class="l">
                    <!--<div class="faceimg"><img src="{{m_userPicture}}" width="50" height="50"/></div>-->
                    <div class="comment">
                      <div class="upload-bar">
                        <img class="chatimg" height="100px" width="100px" style="background-color: #ccc;">
                        <div class="mask"></div>
                        <div class="tips"><i class="fa fa-refresh fa-spin"></i>{{_ "sending"}}</div>
                      </div>
                    </div>
                  </li>
                  <div class="clear"></div>
                </ul>
              </li>
            {{/if}}
          {{else}}
            <li id="{{_id}}" class="l">
              <div class="name">{{m_toUserName}}&nbsp;</div>
              <div class="faceimg"><img src="{{m_toUserPicture}}" width='50' height='50'/></div>
              {{#if text}}
              <div class="comment">{{text}}

                {{#if ISmsgTypeEx msgType}}
                <br><p style="color:red">给他发送优惠劵：</p>
                <img height="50" width="50" class="camImage" src="/camera-icon.png" >   
                <img height="50" width="50" class="addImage" src="/plus-icon.png" >
                 {{/if}}

		</div>
              {{else}}
                <div class="comment">
                  <img class="lazy chatimg" height='100px' src="/lazy-loading-70.gif" data-original="{{photoPath}}">
                </div>
              {{/if}}
            </li>
          {{/if}}
        {{/if}}
    {{/with}}
</template>
<template name="chat_add_toolbar">
    <div id="blackboard">
        <div class="footbar">
            <form class="new-reply" id="new-reply" name="new-reply">
                <table>
                    <tr>
                        <td style="width:40px;">
                          <span class="photo addImg"><i class="fa fa-picture-o"></i></span>
                        </td>
                        {{#if isPrevAP}}
                        <!--<td><input class="text" type="text" id="text" name="text" placeholder="与涂鸦人开始聊天吧！" /></td>-->
                        <td class="center">
                            <textarea dir="auto" name="msg" id="text" maxlength="5000" class="input-message autogrow-short text" placeholder="{{_ 'chatTip'}}"></textarea>
                        </td>                        
                        {{else}}
                        <!--<td><input class="text" type="text" id="text" name="text" placeholder="说点什么" /></td>-->
                        <td>
                        	<textarea dir="auto" name="msg" id="text" maxlength="5000" class="input-message autogrow-short text" placeholder="{{_ 'saySomething'}}"></textarea>
                        </td>
                        {{/if}}
                        <td style="width:60px;text-align: right;">
                            <button class="btn btn-default submit" type="button" disabled="disabled">{{_ "send"}}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</template>
