<template name="blackboard_main">
    <div id="blackboard">
        <div class="blackboard_main">
            <div id="page_header">
<!--                <div class="title">{{board_title}}</div>-->
                <div class="title">Wi-Fi朋友</div>
<!--
                <div class="button_group button_left" style="padding-left: 0px;"><button class="btn btn-default" style="padding: 0px 6px;">{{city}}<i class="fa fa-angle-double-down" style="font-size:14px;padding: 0 0 0 2px;"></i></button></div>
                {{#if admin user.profile.isAdmin}}
                  <div class="button_group btn_report"><button class="btn btn-default">举报</button></div>
                {{/if}}
                <div class="button_group button_right"><button class="btn btn-default">发布</button></div>
-->
            </div>
<!--
          {{#if is_local_service}}
            {{> local_service_home}}
          {{else}}
            <div class="imggroup">
              <img src="/blackboard/img_01.png" />
            </div> 
          {{/if}}
          {{> blackboard_main_post}}
-->
          {{>local_service_wifi}}
        </div>
    </div>
</template>
<template name="blackboard_main_post">
    <div class="list">
      <ul>
          {{#each posts}}
            {{> blackboard_post}}
          {{/each}}
      </ul>
  </div>
</template>
<template name="blackboard_post">
  <li class="btn_detail" id="{{_id}}">
      {{#if is_admin}}
      <div id="{{_id}}" class="reportNumber">举报数量{{report}}</div>
      <button id="{{_id}}" class="btn btn-default delete">删除</button>
      {{/if}}
      <div class="user">
          <div id="{{userId}}" class="faceimg">
              {{#if is_undefined userPicture}}
                  <img src="/userPicture.png" width="50" height="50"/>
              {{else}}
                  <img class="lazy" src="/lazy-loading.gif" data-original="{{userPicture}}"  width="50" height="50">
              {{/if}}
              {{#if get_uservip userId}}
<!--                <div class="vip"></div>-->
              {{/if}}
          </div>
          <div id="{{userId}}" class="nickname">
              {{name}}
<!--
              {{#each get_usertags userId}}
              <img src="{{getUserTagImage this}}" />
              {{/each}}
-->
          </div>
          <span class="addres"><i class="fa fa-map-marker"></i>{{userAddress}}</span>
      </div>
      <div class="content">{{text}}</div>
      <div class="photo" id="{{_id}}">
          {{#each images}}
            <img class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}">
          {{/each}}
      </div>
      <div class="status">
          <div class="timer"><i class="fa fa-clock-o"></i>{{time_diff createdAt}}</div>
          <div class="good"><i class="fa fa-heart-o"></i>{{show_good good}}</div>
          <div class="remark"><i class="fa fa-comment-o"></i>{{replys_count replys}}</div>
      </div>
  </li>
</template>