<template name="blackboard_detail">
    <div id="blackboard">
        <div class="detailLayout">
            <div class="head">
                <strong>{{detail_title}}</strong>
                <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>      
            </div>
          <div class="box">
            {{> display_blackboard_post_detail}}
            {{> reply_blackboard_list}}
          </div>
        </div>
        {{> blackboard_footbar}}
    </div>
</template>
<template name="display_blackboard_post_detail">
      <div class="content" id={{post._id}}>
        <div class="user">
          <div id="{{post.userId}}" class="faceimg">
              <img class="lazy" src="/lazy-loading.gif" data-original="{{post.userPicture}}"  width="50" height="50">
              {{#if get_uservip post.userId}}
<!--                <div class="vip"></div>-->
              {{/if}}
          </div>
          <div id="{{post.userId}}" class="nickname">
              {{post.name}}
<!--
              {{#each get_usertags post.userId}}
              <img src="{{getUserTagImage this}}" />
              {{/each}}
-->
            </div>
          <span class="addres"><i class="fa fa-map-marker"></i>{{post.userAddress}}</span>
          <div class="report" id="{{post._id}}">举报</div>
       </div>
       <div class="detail">{{post.text}}</div>
       <div class="photo">
           {{#each post.images}}
            <img id="{{post._id}}" class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}">
           {{/each}}
       </div>
       <div class="status">
           <div class="timer"><i class="fa fa-clock-o"></i>{{time_diff post.createdAt}}</div>
           <div class="good"><i class="fa fa-heart-o"></i>{{show_good post.good}}</div>
        </div>
    </div>
</template>

<!--点评模式-->
<template name="reply_blackboard_list">
    <div id="reply" class="reply">
        <ul>
        {{#each replys}}
            <li id="{{userId}}" >
                <div id="{{userId}}" class="name">{{get_usernameEx userId}}</div>
                <div id="{{userId}}" class="faceimg"><img src="{{userPicture}}" width='50' height='50'/></div>
                <div class="comment">
                    {{#if is_reply this}}
                    <span style="color: #CBC2C2;">回复</span><span style="color:#665853;">{{get_username this}}</span>：{{comment}}
                    {{else}}
                    {{comment}}
                    {{/if}}
                </div>
                <div class="time">
                  {{time_diff createdAt}}
                </div>
                {{#if is_admin}}
                <button id="{{_id}}" class="btn btn-default delete">删除</button>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    </div>
</template>

<!--聊天模式-->
<!--
<template name="reply_blackboard_list">
    <div id="remark" class="remark">
        {{#each replys}}
            {{#if is_show_reply this}}
            <ul>
                <li class="time"><span>{{time_diff createdAt}}</span></li>
                {{#if is_login_user username}}
                <li class="r">
                    <div class="faceimg"><img src="{{userPicture}}" width='50' height='50'/></div>
                    <div class="comment">{{comment}}</div>
                </li>
                {{else}}
                <li class="l">
                    <div class="name">{{username}}</div>
                    <div class="faceimg user_face" tag="{{userId}}"><img src="{{userPicture}}" width='50' height='50'/></div>
                    <div class="comment">{{comment}}</div>
                </li>
                {{/if}}
                <div class="clear"></div>
                {{clear_equal_time}}
            </ul>
            {{/if}}
        {{/each}}
    </div>
</template>-->
