<template name="searching">
	<div class="seach-index">
      <div class="head">
        <strong>搭伙</strong>
        <div id="back_btn" class="leftButton"><i class="fa fa-chevron-left"></i></div>
        <div class="rightButton" id="btn_seach">搜索</div>
      </div>
<!--
		<div class="head">
			<div class="head-wrap" style="text-align: left; height: 48px;">
                <input class="search-ipt" name="key" id="keywords"  value='{{keywords}}' placeholder="搜索感兴趣的搭伙消息" style="  font-size: 14px;
  height: 29px;
  padding-left: 5px;
  width: 55%;
  line-height: 35px;
  margin-left: 54px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 7px;
  color:#666;
  ">
                <button id="btn_seach" class="h-dh rightButton btn btn-default" style="
    line-height: 20px;
">搜索</button>
                </div>
            <div id="back_btn" class="leftButton" ><i class="fa fa-chevron-left" style="padding-right: 23px;"></i></div>
            <div id="line"></div>
		</div>
-->
        <div class="seach-input">
          <i class="fa fa-search"></i>
          <input id="keywords" class="input" type="text" placeholder="搜索感兴趣的搭伙消息" value="{{keywords}}" />
        </div>
		<div id="finding_list" style="margin-top: -10px;">
			<div style="position: relative;">
				{{> Template.dynamic template=resultPage}}
			</div>
		</div>
	</div>
</template>

<template name="search_top">
    <div style="margin: 20px;">
        <h4 style="color: #00a1e9;margin-left:10px;">国内热门目的地</h4>
        <span class="search_page_top">西藏</span><span class="search_page_top">林芝</span><span class="search_page_top">大理</span>
        <br/>
        <span class="search_page_top">丽江</span><span class="search_page_top">海南</span><span class="search_page_top">广西</span>
        <br/>
        <span class="search_page_top">天池</span><span class="search_page_top">拉萨</span>
        <br/>
        <span class="search_page_top">桂林</span>
        <br/>
    </div>
</template>

<template name="findkey">
    {{#each lists}}
    {{> theme_list}}
    {{/each}}
    {{#if isempty}}
    <div style="padding: 5px 10px 10px 10px;width: calc(100%-20px);text-align: center;"> 啥也没找到，换个试试 </div>
    {{/if}}
</template>