<template name="wifiAddWifi">
  <div class="dashBoard">
    <div class="head">
      <strong>{{_ "addShop"}}</strong>
      <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
    </div>
    <div class="set-up" style="min-height: 0px;">
      <ul>
        <li class="text">
          <input type="text" id="wifi_nike" placeholder="{{_ 'shopName'}}" value="" maxlength="15"/>
        </li>
        <li class="text">
          <input type="text" id="wifi_passwd" placeholder="{{_ 'addShopTip1'}}" value="" maxlength="15"/>
        </li>
        <li class="text">
          <textarea type="text" id="wifi_signature" placeholder="{{_ 'addShopTip2'}}" rows="4" value=""></textarea>
        </li>
      </ul>
      <div class="buttons"><button type="button" class="btn btn-primary btn-block btn-lg btn-submit">{{_ "addShop"}}</button></div>
    </div>
    <div style="margin-left: 10px; margin-right: 10px;">{{> public_upload_index}}</div>
  </div>
</template>
