<template name="wifiGuide">
  <div id='wifi_guide_box' class="wifi-guide">
    <div class="text">
      <span>{{_ "guide1"}}</span>
      <strong>{{wifi_name}}</strong>
      <span>{{_ "guide2"}}</span>
      <b class="create-board">{{_ "guide3"}}</b>
    </div>
    <div id="addHotspot" class="wifihint-tips">{{_ "guide4"}}</div>
    <!--div class="btns">
      <div class="my-btn btn-skip">skip</div>
      <div class="my-btn btn-yes">YES!</div>
    </div-->
    <div class="hint-text">
      <span>{{_ "guide5"}}</span>
      <i class="fa fa-times"></i>
    </div>
    <div class="hint-text-mask"></div>
  </div>
</template>
