<template name="lteGuide">
  <div id='lte_guide_box' class="lte-guide">
    <div class="text">
      <span>{{_ "lteGuide1"}}</span>
      <strong>{{_ "lteGuide2"}}</strong>
      <span>{{_ "lteGuide3"}}</span>
      <b>{{_ "lteGuide4"}}</b>
    </div>
    <div class="tips">{{_ "lteGuide5"}}</div>
    <div class="btns">
      <div class="my-btn btn-yes">{{_ "lteGuide6"}}</div>
    </div>
    <div class="hint-text">
      <span>{{_ "lteGuide7"}}</span>
      <i class="fa fa-times"></i>
    </div>
    <div class="hint-text-mask"></div>
  </div>
</template>
