<template name="wifiOnline">
  <div class="head">
    <strong>Wifi商家</strong>
    {{#if notFromTuya}}
    <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
    {{/if}}
    {{#if isReport}}
      <div class="rightButton"><i class="fa fa-pencil-square-o"></i></div>
    {{/if}}
  </div>
  
  <div class="wifiOnline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each ad}}
        <div id="{{id}}" class="swiper-slide" data-type="{{type}}">
          <div id="{{id}}_img" class="swiper-lazy-preloader swiper-lazy-preloader-white" style="height:100%"></div>
        </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="wifi-name online"><span>{{user.profile.business}}</span></div>
    <ul class="userwifi-tags online">
      {{#if isText}}
      <li id="wifiOnlineText" class="hover">店铺简介</li>
      {{else}}
      <li id="wifiOnlineText">店铺简介</li>
      {{/if}}
      {{#if isReport}}
      <li id="wifiOnlineReports" class="hover">店铺小黑板</li>
      {{else}}
      <li id="wifiOnlineReports">店铺小黑板</li>
      {{/if}}
      {{#if isUser}}
      <li id="wifiOnlineUsers" class="hover">WIFI所有人</li>
      {{else}}
      <li id="wifiOnlineUsers">WIFI所有人</li>
      {{/if}}
    </ul>
    <div class="main">
      {{> Template.dynamic template=template}}
    </div>
  </div>
</template>

<template name="wifiOnlineText">
  <div class="wifi-text">
    <h5><b><i class="fa fa-phone"></i>联系电话：</b>{{phone_number}}</h5>
    <h5><b><i class="fa fa-map-marker"></i>店铺地址：</b>{{address}}</h5>
    <div><b><i class="fa fa-info"></i>店铺简介：</b><div style="padding-left:35px;">{{text}}</div></div>
  </div>
</template>
<template name="wifiOnlineReports">
  <ul class="report">
    <!--{{#each reports_bunsiness}}-->
      <!--<li id="{{userId}}">-->
        <!--<div class="img"><img src="{{userPicture}}" /></div>-->
        <!--<div class="content">-->
          <!--<div class="title">{{userName}}</div>-->
          <!--<div class="con-main">-->
            <!--<span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>-->
            <!--<span class="text">{{text}}</span>-->
            <!--{{#if is_remove}}-->
            <!--<span class="remove" id="{{_id}}">删除</span>-->
            <!--{{/if}}-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
    <!--{{/each}}-->
    {{#if noReports reports}}
      <div class="my_message_guest" style="padding-top:10px;">
        <i class="fa fa-frown-o"></i>
        <div class="text">
          店小二还没有发布优惠信息哦～<br />
          沙发，您也来坐坐吧～<br />
          登录后，点击右上角<i class="fa fa-pencil-square-o"></i>即可咨询最新优惠信息<br />
        </div>
      </div>
    {{/if}}
    {{#each reports}}
      <li id="{{userId}}" data-article="{{articleId}}">
        <div class="img"><img src="{{userPicture}}" /></div>
        <div class="content">
          <div class="title">{{userName}}</div>
          <div class="con-main" style="{{#if is_remove}}padding-bottom: 30px;{{/if}}">
            <span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
            <span class="text">{{text}}</span>
            <span class="images">
              <ol id="{{_id}}">
                {{#each images}}
                  <li class="photo" style="display: inline; border-bottom: 0px;"><img id="{{url}}" class="lazy" src="/lazy-loading-70.gif" data-original="{{url}}"></li>
                {{/each}}
              </ol>
            </span>
            {{#if is_remove}}
            <span class="remove" id="{{_id}}">删除</span>
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
    {{#if has_more_data}}
      <div id="load-more-reports" class="up-load-more">上拉加载更多...</div>
    {{else}}
      <div id="load-more-reports" class="up-load-more">已显示全部</div>
    {{/if}}
  </ul>
</template>
<template name="wifiOnlineUsers">
  <ul class="wifi-user">
    {{#if noUsers users bypassers}}
      <div class="my_message_guest" style="padding-top:10px;">
        <i class="fa fa-frown-o"></i>
        <div class="text">
          额，一个人也没有～<br />
          ～再等等吧～
        </div>
      </div>
    {{/if}}
    {{#each users}}
      <li id="{{userId}}">
        <div class="img"><img src="{{userPicture}}" /></div>
        <div class="content">
          <div class="title">{{userName}}</div>
          <div class="con-main">
            <span class="timer"><i class="fa fa-clock-o"></i>{{time lastTime}}</span>
            {{#if statusOnline status}}
            <span class="usertype"><i class="fa fa-wifi"></i></span>
            {{else}}
            <span class="usertype-offline"><i class="fa fa-wifi"></i></span>
            {{/if}}
            <span class="text">{{userSignature}}</span>
          </div>
        </div>
      </li>
    {{/each}}
    {{#each bypassers}}
      <li id="{{userId}}">
        <div class="img"><img src="{{userPicture}}" /></div>
        <div class="content">
          <div class="title">{{userName}}</div>
          <div class="con-main">
            <span class="timer"><i class="fa fa-clock-o"></i>{{time lastTime}}</span>
            <span class="usertype"><i class="fa fa-twitter"></i></span>
            <span class="text">{{userSignature}}</span>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>