<template name="wifiPopup">
  <div class="wifi-popup">
    <div class="container navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified">
            <div class="btn-group"></div>
            <div class="btn-group"></div>
            <div class="btn-group main">
                <div class="text">
                  <span>～发现周边的商户和人～</span>
                  <img src="/popup/down.png" />
                </div>
                <button type="button" class="foot-btn btn btn-default">
                  <div><i class="fa fa-wifi" style="font-size: 24px;"></i></div>
                  发现
                </button>
            </div>
            <div class="btn-group"></div>
        </div>
      </div>
  </div>
</template>