<template name="wifiPubWifi">
  {{>connectionBanner}}
  <div id="blur_overlay" style="position: absolute; opacity: 0.5; z-index: -1; width:100%; background-color:white;">
  </div>
  <div class="head">
    <!--{{#if isBack}}-->
    {{#if isBack}}
      <div class="leftButton"><i class="fa fa-chevron-left"></i></div>
      <!--<div class="left-img-btn"><img src="/wifi_btn_jf.png" />积分</div>-->
    {{/if}}
    {{> Template.dynamic template='wifiPubWifiMenu' data=menu_data }}
    {{#if is_showShare}}
    <div class="right-btn"><i class="fa fa-ellipsis-h"></i></div>
    {{/if}}
    <ul id="socialShare" class="right-menu">
      <li class="share" id="shareToWechatFriend" ><i class="fa fa-weixin"></i>{{_ "shareToFriends"}}</li>
      <li class="share" id="shareToWechatMoment" ><i class="fa fa-weixin"></i>{{_ "shareToWeChat"}}</li>
      <li class="share" id="shareToSystem" ><i class="fa fa-share-alt"></i>{{_ "shareMore"}}</li>
      {{#if isFavorite}}
      <li id="cancel-favorite" ><i class="fa fa-star"></i>{{_ "unFavShop"}}</li>
      {{else}}
      <li id="add-favorite" ><i class="fa fa-star"></i>{{_ "favShop"}}</li>
      {{/if}}
      <li id="jibao" ><i class="fa fa-ban"></i>{{_ "report"}}</li>
      <li id="remove" ><i class="fa fa-trash"></i>{{_ "delShop"}}</li>
      <li id="edit-pass" ><i class="fa fa-unlock-alt"></i>{{_ "modWifi"}}</li>
      <li id="edit-addr" ><i class="fa fa-location-arrow"></i>{{_ "modAddress"}}</li>
      {{#if isEnglish}}
        <li id="change-lang"><i class="fa fa-globe"></i>中文</li>  
      {{else}}    
        <li id="change-lang"><i class="fa fa-globe"></i>English</li>
      {{/if}}
    </ul>
    <div class="masker"></div>
  </div>

  <div class="wifiOnline" style="padding-bottom:0px;">
    {{#if isBack}}
    
    {{else}}
      {{#if isUseWifiButNoExistAp}}
      {{/if}}      
      <!--when use wifi-->
      {{#if useWiFi}} <!-- wifi + registered user-->
      {{/if}}

      <!--when use data-->
      {{#unless useWiFi}}  <!--data + registered user-->
      {{/unless}}
    {{/if}}
    <div class="main">
      {{> Template.dynamic template=template}}
    </div>
  </div>
</template>

<template name="wifiPubWifiIndex">
  {{> Template.dynamic template=template}}
</template>
<template name="wifiPubWifiIndex_NoAP">
  <div style="margin-top: -10px;">
  {{#if useWiFi}}
    {{#if getWiFiStatus}}
      {{>wifiGuide}}
    {{else}}
      <div class="my_message_guest" style="padding-top:10px;">
        <i class="fa fa-frown-o"></i>
        <div class="text">
          {{_ "getWifiInfo"}}
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="my_message_guest" style="padding-top:10px;">
      <i class="fa fa-frown-o"></i>
      <div class="text">
        ～{{_ "welcomeTo"}}～<br />
        {{_ "welcomeTip"}}
      </div>
    </div>
  {{/if}}
  </div>
</template>
<template name="wifiPubWifiIndex_AP">
  <style type="text/css">
    .wifiOnline .swiper-container .btn-hjf {
        width: 74px;
        height: 32px;
        line-height: 36px;
        position: absolute;
        left: 0;
        top: 32px;
        z-index: 11;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
    }

    .wifiOnline .swiper-container .btn-hjf img {
        height: 15px;
        margin-top: -2px;
        margin-right: 3px;
    }

    .wifiOnline .swiper-container .btn-hjf.after {
        content: "\00a0";
        width: 104px;
        height: 28px;
        position: absolute;
        left: -30px;
        top: 36px;
        background-color: #000;
        z-index: 10;
        opacity: 0.7;
        border-radius: 30px;
    }  
  </style>

  <div style="position: absolute;left:0px; top:{{getTop}}; right:0px;">
    <div class="swiper-container">
      <!--img src="/wifi_bg.png" style="width:100%; height:100%;object-fit: cover;" /-->
      <div class="swiper-wrapper">
        {{#each urls}}
        <div id="{{id}}" class="swiper-slide">
        <div id="{{id}}_img" style="height:100%">
        <img data-src="{{src}}" class="swiper-lazy lazy">
      <!-- Preloader image -->
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
      <div class="mask"></div>
      <div class="btn-hjf"><img src="/wifi_btn_jf.png" />{{_ "changePoints"}}</div>
      <div class="btn-hjf after"></div>      
      <div class="btn-wirter"><img src="/wifi_btn_tuya.png" />{{_ "writeComments"}}</div>
      <div class="btn-wirter after"></div>
      <div class="text">
        <div class="title"><strong>{{name wifi.nike}}</strong>WIFI：{{name wifi.SSID}}&nbsp;&nbsp;&nbsp;&nbsp;{{_ "passWord"}}：{{pass wifi.passwd}}</div>
        <div class="address"><i class="fa fa-map-marker"></i>{{gec wifi.location}}</div>
      </div>
    </div>
    {{#if permissionForWifiScores}}
    <ul id="two" class="userwifi-tags tag-3" style="position: static;top:0px;margin: 0 auto;">
      {{#if isChannel 'wifiPubWifiIndexWall'}}
      <li id="wifiPubWifiIndexWall" class="hover" style="width:{{getWidth}}">{{_ "notice"}}</li>
      {{else}}
      <li id="wifiPubWifiIndexWall" style="width:{{getWidth}}">{{_ "notice"}}</li>
      {{/if}}
      {{#if isChannel 'wifiPubWifiIndexUser'}}
      <li id="wifiPubWifiIndexUser" class="hover" style="width:{{getWidth}}">{{_ "visitorCircle"}}</li>
      {{else}}
      <li id="wifiPubWifiIndexUser" style="width:{{getWidth}}">{{_ "visitorCircle"}}</li>
      {{/if}}
      {{#if isChannel 'wifiPubWifiScores'}}
      <li id="wifiPubWifiScores" class="hover" style="width:{{getWidth}}">{{_ "points"}}</li>
      {{else}}
      <li id="wifiPubWifiScores" style="width:{{getWidth}}">{{_ "points"}}</li>
      {{/if}}
    </ul>
    {{else}}
    <ul id="two" class="userwifi-tags tag-2" style="position: static;top:0px; margin: 0 auto;">
      {{#if isChannel 'wifiPubWifiIndexWall'}}
      <li id="wifiPubWifiIndexWall" class="hover" style="width:{{getWidth}}">{{_ "notice"}}</li>
      {{else}}
      <li id="wifiPubWifiIndexWall" style="width:{{getWidth}}">{{_ "notice"}}</li>
      {{/if}}
      {{#if isChannel 'wifiPubWifiIndexUser'}}
      <li id="wifiPubWifiIndexUser" class="hover" style="width:{{getWidth}}">{{_ "visitorCircle"}}</li>
      {{else}}
      <li id="wifiPubWifiIndexUser" style="width:{{getWidth}}">{{_ "visitorCircle"}}</li>
      {{/if}}
    </ul>
    {{/if}}
    <div class="main">
      {{> Template.dynamic template=template}}
    </div>
  </div>
</template>

<template name="wifiPubWifiIndexNew">
  <div class="wifi-text" style="min-height:0;">
    <p>{{first.text}}</p>
    <div class="imgs">
    {{#each first.images}}
      <img class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}" />
    {{/each}}
    </div>
    <div class="more">{{_ "viewMorePoints"}}<i class="fa fa-angle-double-down"></i></div>
  </div>
  <div id="wall-box" style="display:none;">
    <ul class="report wall" style="padding-top:10px; border-top: 1px solid #E2E2E2;">
      {{#each posts}}
      <li id="{{userId}}">
        <div class="img"><img src="{{userPicture}}" /></div>
        <div class="content">
          <div class="title">{{userName}}</div>
          <div class="con-main">
            <span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
            <span class="text">{{text}}</span>
            <span class="images">
              <ol id="{{_id}}">
                {{#each images}}
                  <li style="border: 0px solid #E2E2E2;" id="{{this.url}}"><img class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}" /></li>
                {{/each}}
              </ol>
            </span>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</template>
<template name="wifiPubWifiIndexWall">
  {{#if isLoading}}
    <div class="no-data">
      <div class="no-data-loading">
        <i class="fa fa-spinner fa-spin"></i>
        <span>{{_ "isLoading"}}</span>
      </div>
    </div>
  {{else}}
    <div id="newcomments" class="newcomments">
      {{#if hasNewComments newcomments}}
        <div class="title"><span><img src="{{lastImg newcomments}}" />{{length newcomments}}{{_ "newReplay"}}</span></div>
        <ul style="display:none;">
          {{#each newcomments}}
          <li class="to-comment" id="comment_{{commentId}}">{{comment}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
    <ul class="report wall">
      {{#each posts}}
      <li id="{{_id}}" style="margin-bottom: 10px;">
        <div class="img"><img src="{{userPicture}}" /></div>
        <div class="content">
          <div class="title">{{userName}}</div>
          <div class="con-main">
            <span class="timer" style="top:0px;"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
            <!--{{#if atWho}}<span class="atWho">@{{atWho}}</span>{{/if}}-->
            <span class="text">{{text}}</span>
            {{#if hasData images}}
              <span class="images">
                <ol id="{{_id}}">
                      {{#each images}}
                        <!--<li style="border: 0px solid #E2E2E2;"><img class="lazy" src="/lazy-loading-70.gif" data-original="{{url}}" /></li>-->
                        {{> wifiPubWifiIndexWallShowImage data=this}}
                      {{/each}}
                </ol>
              </span>
            {{/if}}
            <span class="comment pull-right"><i class="fa fa-comment"></i>&nbsp;{{_ "replay"}}</span>
            {{#if hasNewComments comments}}
            <div class="clear"></div>
            <div class="usercomments">
              <ol id="{{_id}}">
                  {{#each comments}}
                    <div><a name="comment_{{_id}}" id="comment_{{_id}}"></a><strong>{{username}}:</strong> {{comment}}</div>
                  {{/each}}
              </ol>
            </div>
            {{/if}}
            <div class="clear"></div>        
          </div>
        </div>
        {{#if isAdmin}}
          <div id="deleteImage" style="width: 17px; height: 17px; position: absolute; right: -7px; top: -7px; background: url(/delete.png); background-position: 0px 0; background-size: 17px;"></div>
        {{else}}
          {{#if isDelete userId}}
          <div id="deleteImage" style="width: 17px; height: 17px; position: absolute; right: -7px; top: -7px; background: url(/delete.png); background-position: 0px 0; background-size: 17px;"></div>
          {{/if}}
        {{/if}}
  <!--
        {{#if addCommentbar _id}}
          {{> comment_toolbar data=this}}
        {{/if}}
  -->
      </li>
      {{/each}}
    </ul>
    {{#if has_more_data}}
      <div id="load-more-wifihistory" class="up-load-more wifi_indexwall-loading">{{_ "upToShowMore"}}</div>
    {{else}}
      <div id="load-more-wifihistory" class="up-load-more">{{_ "hasAll"}}</div>
    {{/if}}
  {{/if}}
</template>
<template name="wifiPubWifiIndexWallShowImage">
  {{#with data}}
    <!--<li style="border: 0px solid #E2E2E2;" id="{{this.url}}"><img class="lazy" src="/lazy-loading-70.gif" data-original="{{this.url}}" /></li>-->
    <li style="border: 0px solid #E2E2E2;width:100%;height:100%" id="{{this.url}}">
      {{>padding}}
      <img class="lazy" data-original="{{this.url}}" style="width:100%;height:100%"/>
    </li>
  {{/with}}
</template>
<template name="wifiPubWifiIndexUser">
  <ul class="wifi-user new-wifi-users">
    {{#each posts}}
    <li class="simple">
      <div class="img"><img src="{{userPicture}}" /></div>
      <div class="content">      
        <div class="title">{{userName}}</div>
        <div class="con-main">
          <span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
          {{#if isBypasser userType}}
          <span class="usertype"><i class="fa fa-twitter"></i></span>
          {{else}}
          <span class="usertype"><i class="fa fa-wifi"></i></span>
          {{/if}}
        </div>
        <div class="visit-time">{{> wifiPubWifiIndexUserRank data=visitTimes}}</div>
      </div>
    </li>
    {{/each}}
  </ul>
  {{#if has_more_data}}
    <div id="load-more-wifihistory" class="up-load-more wifi_indexwall-loading">{{_ "upToShowMore"}}</div>
  {{else}}
    <div id="load-more-wifihistory" class="up-load-more">{{_ "hasAll"}}</div>
  {{/if}}
</template>
<template name="wifiPubWifiIndexUserRank">
  {{#each ranks}}
    {{#if isEq this 3}}
      <img class="grass" src="/wifi/grass.png" />
    {{else}}
      {{#if isEq this 2}}
        <img class="sprout" src="/wifi/sprout.png" />
      {{else}}
        <img class="seed" src="/wifi/seed.png" />
      {{/if}}
    {{/if}}
  {{/each}}
</template>
<template name="wifiPubWifiIndexSuperAP">
    <div style="padding: 0 10px;"><button type="button" class="btn add btn-default btn-block">{{_ "add"}}</button></div>
    <ul class="wifi-superUser simple">
    {{#each superAP}}
      {{#with getWifiInfo importWifiID}}
        <li>
            <div class="header">
              <div class="btns"><i class="fa fa-plus"></i></div>
              <div class="img"><img src="{{picture}}" /></div>
              <div class="con-main">
                <div class="title">{{nike}}</div>
                <span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
                <span class="text">{{_ "wifiAP"}}：{{SSID}}</span>
                <span class="distance">{{_ "distance"}}：{{get_distance this}}</span>
              </div>
            </div>
            <ul class="wifi-user">
              {{#each getUserList _id}}
                <li>
                  <div class="img"><img src="{{userPicture}}" /></div>
                  <div class="content">
                    <div class="title">{{userName}}</div>
                    <div class="con-main">
                      <span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
                      <span class="usertype"><i class="fa fa-twitter"></i></span>
                    </div>
                  </div>
                </li>
              {{/each}}
          </ul>
        </li>
      {{/with}}
    {{/each}}
    </ul>
</template>

<template name="wifiPubwifiAddSuperAP">
  <div class="wifiPubwifiAddSuperAP">
    <div class="head">
      <strong>{{_ "addSuperAP"}}</strong>
      <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
      {{#if noUsers wifis}}
      {{else}}
      <div class="right-btn"><i class="fa fa-floppy-o"></i>完成</div>
      {{/if}}
    </div>
    <ul class="wifi-user my-checkbox">
        {{#if noUsers wifis}}
          <div class="my_message_guest" style="padding-top:10px;">
            <i class="fa fa-smile-o"></i>
            <div class="text">
              {{_ "noUsefulAP"}}
            </div>
          </div>
        {{/if}}
        {{#each wifis}}
        <li id="{{_id}}">
          {{#if isAdded _id}}
            <div class="chebox"><i class="fa fa-check-square-o"></i></div>
          {{else}}
            <div class="chebox"><i class="fa fa-square-o"></i></div>
          {{/if}}
          <div class="img"><img src="{{picture}}" /></div>
          <div class="content">
            <div class="title">{{nike}}</div>
            <div class="con-main">
              <span class="timer"><i class="fa fa-clock-o"></i>{{time createTime}}</span>
              <span class="text">{{_ "APname"}}：{{SSID}}</span>
              {{#if passwd}}
              <span class="text">{{_ "APpass"}}：{{passwd}}</span>
              {{else}}
              <span class="text">{{_ "APnoPass"}}</span>
              {{/if}}
              <span class="distance">{{_ "distance"}}：{{get_distance this}}</span>
            </div>
          </div>
        </li>
        {{/each}}
    </ul>
</div>
</template>

<template name="wifiPubWifiScores">
<!--wifiPubWifiIndexWall">-->
  {{#if isLoading}}
    <div class="no-data">
      <div class="no-data-loading">
        <i class="fa fa-spinner fa-spin"></i>
        <span>{{_ "isLoading"}}</span>
      </div>
    </div>
  {{else}}
    <ul class="report wall">
      {{#each posts}}
      <li id="{{_id}}">
        <div class="img"><img src="{{userPicture}}" /></div>
        <div class="content">
          <div class="title">{{userName}}</div>
          <div class="con-main">
            <span class="timer"><i class="fa fa-clock-o"></i>{{time createdAt}}</span>
            <!--{{#if atWho}}<span class="atWho">@{{atWho}}</span>{{/if}}-->
            <span class="text">{{_ "scoreType"}}：{{whichType type}}<br>{{_ "scoreAmount"}}：{{amount}}<br>{{_ "scoreRemark"}}：{{remark}}</span>
            {{#if hasData images}}
              <span class="images">
                <ol id="{{_id}}">
                      {{#each images}}
                        <!--<li style="border: 0px solid #E2E2E2;"><img class="lazy" src="/lazy-loading-70.gif" data-original="{{url}}" /></li>-->
                        {{> wifiPubWifiIndexWallShowImage data=this}}
                      {{/each}}
                </ol>
              </span>
            {{/if}}
            <span class="comment pull-right"><i class="fa fa-comment"></i>&nbsp;{{_ "replay"}}</span>
            {{#if hasNewComments comments}}
            <div class="clear"></div>
            <div class="usercomments">
              <ol id="{{_id}}">
                  {{#each comments}}
                    <div><a name="comment_{{_id}}" id="comment_{{_id}}"></a><strong>{{username}}:</strong> {{comment}}</div>
                  {{/each}}
              </ol>
            </div>
            {{/if}}
            <div class="clear"></div>        
          </div>
        </div>
        {{#if isAdmin}}
          <div id="deleteImage" style="width: 17px; height: 17px; position: absolute; right: -7px; top: -7px; background: url(/delete.png); background-position: 0px 0; background-size: 17px;"></div>
        {{else}}
          {{#if isDelete userId}}
          <div id="deleteImage" style="width: 17px; height: 17px; position: absolute; right: -7px; top: -7px; background: url(/delete.png); background-position: 0px 0; background-size: 17px;"></div>
          {{/if}}
        {{/if}}
      </li>
      {{/each}}
    </ul>
    <div id="load-more-wifihistory" class="up-load-more">{{loadingHint}}</div>
  {{/if}}
</template>

<template name="comment_toolbar">
  {{#with data}}
    <div id="comment_toolbar">
        <div class="commentbar">
            <form class="new-reply" id="new-reply" name="new-reply">
                <table>
                    <tr>
                        <td><input class="text" type="text" id="text" name="text" placeholder="{{_ 'replay'}}" postid="{{_id}}" /></td>
                        <td style="width:70px;text-align: right;">
                            <button class="btn btn-default submit" type="button" disabled="disabled">{{_ "send"}}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
  {{/with}}
  <div id="comment_toolbar_mask"></div>
</template>
