<template name="wifiReport">
  <div class="head">
    <strong>{{_ "shopNotice"}}</strong>
    <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
    <button id="form-button-submit" class="h-dh rightButton btn btn-default">{{_ "ok"}}</button>
  </div>
  
  <div class="wifiReport">
    {{#if is_manager}}
    <div class="tips"><i class="fa fa-exclamation-circle"></i>{{_ "shopNOticeTip"}}</div>
    {{/if}}
    <form class="wifi-report-form">
      <textarea id="text" name="text" class="text"></textarea>
      <div>
        {{> public_upload_index}}
      </div>
    </form>
  </div>
</template>