<template name="wifiSortBy">
		<div class="head">
      <strong>商家排序</strong>
      <div class="leftButton"><i class="fa fa-chevron-left"></i></div>
    </div>
    <div class="set-up">
      <ul id="sortByList">
        <li id="wifiSortByAll">
          <span class="label">默认全部</span>
          {{#if checked 'wifiSortByAll'}}
          <span class="value" style="color: #36ACEB;"><i class="fa fa-check"></i></span>
          {{/if}}
        </li>
        <li id="wifiSortByNearby">
          <span class="label">附近</span>
          {{#if checked 'wifiSortByNearby'}}
          <span class="value" style="color: #36ACEB;"><i class="fa fa-check"></i></span>
          {{/if}}
        </li>
      </ul>
    </div>
</template>