<template name="wifiUserWifi">
  {{>connectionBanner}}
  <div class="head">
    <strong>{{_ "shop"}}</strong>
  </div>

  <div class="wifiOnline">
    {{#if isCurrentWiFiFriend}}
    <div class="tips" id="wifiTips">
      <i class="fa fa-exclamation-circle"></i>{{_ "addWifiTip"}}
    </div>
    {{/if}}
    {{#if useWiFi}}
      {{#if getWiFiStatus}}
        <div class="wifi-name ap">
          <div>
            <div class="left"><span style="margin-top: 13px;">{{wifiName}}</span></div>
            <div id="addHotspot" class="right"><div class="btn"><i class="fa fa-plus"></i>{{_ "addShop"}}</div></div>
          </div>
        </div>
        {{>wifiGuide}}
      {{else}}
        <div class="wifi-name connecting">
          <div>
            <div class="left"><span style="margin-top: 13px;">{{_ "getWifiInfo"}}</span></div>
          </div>
        </div>
      {{/if}}
    {{else}}
    <div class="wifi-name all"><span>{{_ "welcomeTo"}}</span><span>{{_ "welcomeTip"}}</span></div>
    {{/if}}

      {{#if isCurrentWiFiFriend}}
      <ul class="userwifi-tags tag-3">
        {{#if isLogin}}
        {{#if useWiFi}}
          {{#if isLocal}}
          <li id="wifiUserWifiLocal" class="hover">{{_ "Current"}}</li>
          {{else}}
          <li id="wifiUserWifiLocal">{{_ "Current"}}</li>
          {{/if}}
        {{/if}}
        {{#if isNearby}}
        <li id="wifiUserWifiNearby" class="hover">{{_ "All"}}</li>
        {{else}}
        <li id="wifiUserWifiNearby">{{_ "All"}}</li>
        {{/if}}
        <!--{{#if is_android}}
          {{#if isAP}}
          <li id="wifiUserWifiAP" class="hover">身边热点</li>
          {{else}}
          <li id="wifiUserWifiAP">身边热点</li>
          {{/if}}
        {{/if}}-->
        {{#if isFavorite}}
        <li id="wifiUserWifiFavorite" class="hover">{{_ "Favorite"}}</li>
        {{else}}
        <li id="wifiUserWifiFavorite">{{_ "Favorite"}}</li>
        {{/if}}
        {{/if}} <!-- End of isLogin -->
      </ul>
      {{else}}
      <ul class="userwifi-tags tag-3" style="top: 105px;">
        {{#if isLogin}}
        {{#if useWiFi}}
          {{#if isLocal}}
          <li id="wifiUserWifiLocal" class="hover">{{_ "Current"}}</li>
          {{else}}
          <li id="wifiUserWifiLocal">{{_ "Current"}}</li>
          {{/if}}
        {{/if}}
        {{/if}}
        {{#if isNearby}}
        <li id="wifiUserWifiNearby" class="hover">{{_ "All"}}</li>
        {{else}}
        <li id="wifiUserWifiNearby">{{_ "All"}}</li>
        {{/if}}
        <!--{{#if is_android}}
          {{#if isAP}}
          <li id="wifiUserWifiAP" class="hover">身边热点</li>
          {{else}}
          <li id="wifiUserWifiAP">身边热点</li>
          {{/if}}
        {{/if}}-->
        {{#if isLogin}}
        {{#if isFavorite}}
        <li id="wifiUserWifiFavorite" class="hover">{{_ "Favorite"}}</li>
        {{else}}
        <li id="wifiUserWifiFavorite">{{_ "Favorite"}}</li>
        {{/if}}
        {{/if}}
      </ul>
      {{/if}}
    <div class="main">
      {{> Template.dynamic template=template}}
    </div>
  </div>
</template>

<template name="wifiUserWifiLocal">
  <ul class="wifi-user">
    {{#if noUsers users}}
      <div class="my_message_guest" style="padding-top:10px;">
        <i class="fa fa-smile-o"></i>
        <div class="text">
          猛击“添加小店”，加入小店公告！
        </div>
      </div>
      <div style="display: none; text-align: center; padding-top:40px;" id="myloading">我们努力的loading...</div>
    {{/if}}
    {{#each users}}
      <li id="{{_id}}">
        <div class="img"><img src="{{picture this}}" /></div>
        <div class="content">
          <div class="title">{{name this}}</div>
          <div class="con-main">
            <span class="timer"><i class="fa fa-clock-o"></i>{{time profile.wifi.updateTime}}</span>
            <span class="text">{{profile.signature}}</span>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
<template name="wifiUserWifiShowImage">
  {{#with data}}
    <!--<img class="lazy" src="/lazy-loading-70.gif" data-original="{{this}}" />-->
    <li style="border: 0px solid #E2E2E2;" id="{{this}}">
      {{>padding}}
      <img class="lazy" data-original="{{this}}" />
    </li>
  {{/with}}
</template>
<template name="wifiUserWifiHistory">
  <!--<div style="margin-bottom: -60px;margin-top: -10px;">{{> wifiOffline}}</div>-->
    {{#if noUsers wifiHistory}}
  <ul class="wifi-user">
      <div class="my_message_guest" style="padding-top:10px;">
        <i class="fa fa-frown-o"></i>
        <div class="text">
          {{#if isLogin}}
            您没有留下任何足迹，好寂寞～
          {{else}}
            您还没有登录，登录后的用户才可以留下您的足迹。
          {{/if}}
        </div>
      </div>
      <div style="display: none; text-align: center; padding-top:40px;" id="myloading">我们努力的loading...</div>
     </ul>
    {{/if}}
    <ul class="ap-list" style=" margin-top: -10px;">
    {{#each wifiHistory}}
      {{#with getWifiInfo wifiID}}
          <li>
            <div class="img">
              <!--<img class="lazy" src="/lazy-loading-70.gif" data-original="{{getWifiPicture wifiID}}" />-->
              {{#with getWifiPicture latestPicture}}
                {{> wifiUserWifiShowImage data=this}}
              {{/with}}
              <h1>{{nike}}</h1>
              <!--<h2>名称:{{SSID}} 密码：{{trunc_str 12 passwd}}</h2>-->
            </div>
            <div class="text">
              <i class="fa fa-map-marker">{{gec _id location}}<strong>{{get_distance this}}</strong></i>
              <i class="fa fa-clock-o">{{time accessAt}}</i>
            </div>
          </li>
      {{/with}}
    {{/each}}
    </ul>
    {{#if has_more_data}}
      <div id="load-more-wifihistory" class="up-load-more">上拉加载更多...</div>
    {{else}}
      <div id="load-more-wifihistory" class="up-load-more">已显示全部</div>
    {{/if}}
</template>

<template name="wifiUserWifiAP">
  <div class="wifi-ap-list">
    <div class="buttons">
      <div class="icons">
        <i class="fa fa-wifi"></i>
        <i class="fa fa-toggle-on"></i>
        <!--<i class="fa fa-toggle-off"></i>-->
      </div>
      <span>当前热点:&nbsp;<b>{{CurrentSSID}}</b></span>
      <button id="checkHotspot" type="button" class="btn btn-primary btn-block">一键查询万能钥匙</button>
      <button id="scanHotspot" type="button" class="btn btn-primary btn-block">刷新</button>
    </div>
    <ul>
      {{#each wifiHotspots}}
      <li>
        <span class="img"><img style="width:15px;height:15px;" src="{{wifiLevel level}}" /></span>
        <span>{{SSID}}</span>
        {{#if isConnected SSID}}
          <i class="fa fa-check"></i>
        {{else}}
          <i class="fa fa-key"></i>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- Modal -->
<div id="wifiPasswordModal" style="top:10px;" class="modal" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title">请输入Wifi密码&nbsp;&nbsp;&nbsp;<b>{{connectingSSID}}</b></h6>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" style="text-align: center;">
            <input type="text" style="width:250px; display: inline-block;" class="form-control" id="wifi-password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="wifi-password-btncancel" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="wifi-password-btnsave" class="btn btn-default">保存</button>
      </div>
    </div>

  </div>
</div>
</template>

<template name="wifiUserWifiNearby">
<!--
  {{#if isAP}}
    <div class="tips">点击这里查看WiFi涂鸦墙<i class="fa fa-arrow-circle-o-left"></i></div>
    {{> wifiOffline}}
  {{else}}
-->
<!--  <div class="tips">点击这里查看WiFi商家<i class="fa fa-arrow-circle-o-right"></i></div>-->
    {{#if noUsers wifis}}
    <div class="no-data">
      <div class="no-data-loading">
        <i class="fa fa-spinner fa-spin"></i>
        <span>{{_ "isLoading"}}</span>
      </div>
    </div>
    {{/if}}
    <ul class="ap-list" style=" margin-top: 10px;">
    {{#each wifis}}
      <li class="ap-list-detail">
        <div class="img">
          <!--<img class="lazy" src="/lazy-loading-70.gif" data-original="{{getWifiPicture _id}}" />-->
          {{#with getWifiPicture latestPicture}}
            {{> wifiUserWifiShowImage data=this}}
          {{/with}}
          <div class="wifi-pic-desc">
            <div class="wifi-pic-desc-bg"></div>
            <h1>{{nike}}</h1>
            <!--{{#if isPwd passwd}}
              <h2>{{_ "wifiName"}}:{{SSID}} {{_ "passWord"}}：{{passwd}}</h2>
            {{else}}
              <h2>{{_ "wifiName"}}:{{SSID}} {{_ "passWord"}}：这个热点不需要密码哦~</h2>
            {{/if}}-->
            <div class="pl_head">
              <div class="portrait">
                  <dl>
                      <dt><span>{{visitCount}}</span> {{_ "visitor"}}</dt>
                      {{#each visitors}}
                      <dd><img src="{{userPicture}}" style="width:30px; height:30px; border-radius:50%; border:1px solid #FFF;"></dd>
                      {{/each}}
                  </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="text">
          <i class="fa fa-map-marker">{{gec _id location}}<strong>{{get_distance this}}</strong></i>
          <i class="fa fa-clock-o">{{time LastActiveTime}}</i>
        </div>
        <div class="btns">
          <span class="btn-tuya"><i class="fa fa-pencil-square-o"></i>{{_ "comments"}}</span>
          {{#if isFavorite}}
          <span class="btn-cancel-favorite"><i class="fa fa-heart"></i>{{_ "unfav"}}</span>
          {{else}}
          <span class="btn-add-favorite"><i class="fa fa-heart-o"></i>{{_ "fav"}}</span>
          {{/if}}
        </div>
      </li>
    {{/each}}
    </ul>
    {{#if has_more_data}}
      <div id="load-more-wifis" class="up-load-more">{{_ "upToShowMore"}}</div>
    {{else}}
      <div id="load-more-wifis" class="up-load-more">{{_ "hasAll"}}</div>
    {{/if}}
<!--  {{/if}}-->
</template>

<template name="wifiUserWifiFavorite">
  <!--<div style="margin-bottom: -60px;margin-top: -10px;">{{> wifiOffline}}</div>-->
    {{#if noUsers wifiFavorite}}
  <ul class="wifi-user">
      <div class="my_message_guest" style="padding-top:10px;">
        <i class="fa fa-frown-o"></i>
        <div class="text">
          {{#if isLogin}}
            您没有收藏任何小店，好寂寞～
          {{else}}
            您还没有登录，登录后的用户才可以收藏小店公告。
          {{/if}}
        </div>
      </div>
      <div style="display: none; text-align: center; padding-top:40px;" id="myloading">我们努力的loading...</div>
     </ul>
    {{/if}}
    <ul class="ap-list">
    {{#each wifiFavorite}}
      {{#with getWifiInfo wifiID}}
        <li>
          <div class="img">
            <!--<img class="lazy" src="/lazy-loading-70.gif" data-original="{{getWifiPicture wifiID}}" />-->
            {{#with getWifiPicture latestPicture}}
              {{> wifiUserWifiShowImage data=this}}
            {{/with}}
            <div class="wifi-pic-desc" style="height: 48px;">
              <div class="wifi-pic-desc-bg" style="height: 48px;"></div>            
              <h1 style="bottom: 0px;">{{nike}}</h1>
              <h2 style="bottom: 0px;">{{_ "wifiName"}}:{{SSID}} {{_ "passWord"}}：{{passwd}}</h2>
            </div>
          </div>
          <div class="text">
            <i class="fa fa-map-marker">{{gec _id location}}<strong>{{get_distance this}}</strong></i>
            <i class="fa fa-clock-o">{{time ../accessAt}}</i>
          </div>
          <div class="btns">
            <span class="btn-tuya"><i class="fa fa-pencil-square-o"></i>{{_ "comments"}}</span>
            <span class="btn-remove"><i class="fa fa-trash"></i>{{_ "delete"}}</span>
          </div>
        </li>
      {{/with}}
    {{/each}}
    </ul>
    {{#if has_more_data}}
      <div id="load-more-wifihistory" class="up-load-more">{{_ "upToShowMore"}}</div>
    {{else}}
      <div id="load-more-wifihistory" class="up-load-more">{{_ "hasAll"}}</div>
    {{/if}}
</template>
