<template name="wifiOffline">
  {{>connectionBanner}}
  {{#if iswifi}}
  <div class="head">
    <strong>小店</strong>
    {{#if showBack}}
    <div id="btn_back" class="leftButton"><i class="fa fa-chevron-left"></i></div>
    {{/if}}
  </div>
  {{/if}}

  <div class="wifiOffline" style="{{iswifi_style}}">
  {{#if no_load}}
    <div class="no-data">
      <div class="no-data-loading">
        <i class="fa fa-spinner fa-spin"></i>
        <span>加载中...</span>
      </div>
      <div class="no-data-tips">
        <img src="/no_data_01.jpg" />
        <span>您附近还没相关的WIFI商家<br />换个地方逛逛吧～</span>
      </div>
    </div>
  {{else}}
<!--    {{#if data users}}-->
      <div class="tips" style="display: none">去附近有WIFI的地方逛逛吧～</div>
      <div class="seach"><div class="input"><i class="fa fa-search"></i>搜索WIFI商家</div>
<!--        <i class="fa fa-sort-amount-asc sortby"></i>-->
          </div>
        <ul class="list">
          {{#each users}}
          <li id="{{_id}}">
            <div class="one">
              <div class="category"><img src="{{business.typeImage}}" ></div>
              <div class="right">
                <h1>{{profile.business}}</h1>
                <span class="address"><i class="fa fa-map-marker"></i>{{profile.address}}</span>
                <span class="online"><i class="fa fa-wifi"></i>{{count business.users}}</span>
              </div>
            </div>
            <div class="two">
              <div class="img"><img src="{{business.titleImage}}" /></div>
              <div class="right">
                <div class="text">{{profile.text}}</div>
                <div class="subscript">
                  <span class="view">浏览 {{business.readCount}}</span>
                  {{#if business.reports}}
                  <span class="report">小黑板 {{business.reports.length}}</span>
                  {{else}}
                  <span class="report">小黑板 0</span>
                  {{/if}}
                </div>
              </div>
            </div>
          </li>
          {{/each}}
          <div id="load-more-wifi_off_line" class="up-load-more">上拉加载更多</div>
        </ul>
<!--    {{else}}
      <div class="no-data">
        <div class="no-data-tips">
          <img src="/no_data_01.jpg" />
          <span>您附近还没相关的WIFI商家<br />换个地方逛逛吧～</span>
        </div>
      </div>
    {{/if}}-->
  {{/if}}
  </div>
</template>
