<template name="wifiPubWifiHint">
  <div class="wifi-pub-wifi-hint">
    <div class="target">
      <div class="wifiOnline">
        <div class="wifi-name passwd ap" id="wifi-name-title" style="margin-bottom: 0px;">
          <div class="left">
            <div class="btn-hjf"><img src="/wifi_btn_jf.png">{{_ "changePoints"}}</div>
          </div>
          <span>TP-LINK-01</span>
          <strong>[{{_ "wifiPass"}}：123456] [change]</strong>
          <div class="right">
            <div class="btn-wirter"><img src="/wifi_btn_tuya.png">{{_ "writeComments"}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text">
      <img src="/popup/up.png" /><br />
      <span>{{_ "commentTip"}}<br />{{_ "pointTip"}}</span>
    </div>
  </div>
</template>

