<template name="wifiSeach">
  <div class="head">
    <strong>搜索WIFI商家</strong>
    <div class="leftButton"><i class="fa fa-chevron-left"></i></div>
    <div class="rightButton" id="searchForBox">搜索</div>
    <!--<div id="wifi-seach-city-select" class="rightButton"><i class="fa fa-angle-double-down"></i>{{city}}</div>-->
  </div>
  
  <div class="wifi-seach wifiOffline">
    <div class="seach">
      <i class="fa fa-search"></i>
      <input id="searchBox" class="input" type="text" placeholder="请输入商家的名称/地址/电话" value="{{key}}" />
    </div>
    {{#if loading}}
      <div class="no-data">
        <div class="no-data-loading">
          <i class="fa fa-spinner fa-spin"></i>
          <span>全力搜索中...</span>
        </div>
      </div>
    {{else}}
      {{#if no_data users}}
      <div class="no-data">
        <div class="no-data-tips">
          <img src="/no_data_01.jpg" />
          <span>没有搜索到“{{key}}”相关的商家<br />换个名称试试吧～</span>
        </div>
      </div>
      {{else}}
      <ul class="list">
        {{#if isSearching}}
        {{#each getBusinessUsers}}
        <li id="{{_id}}">
          <div class="one">
            <div class="category"><img src="{{business.typeImage}}" ></div>
            <div class="right">
              <h1>{{profile.business}}</h1>
              <span class="address"><i class="fa fa-map-marker"></i>{{profile.address}}</span>
              <span class="online"><i class="fa fa-wifi"></i>{{count business.users}}</span>
            </div>
          </div>
          <div class="two">
            <div class="img"><img src="{{business.titleImage}}" /></div>
            <div class="right">
              <div class="text">{{profile.text}}</div>
              <div class="subscript">
                <span class="view">浏览 {{business.readCount}}</span>
                {{#if business.reports}}
                <span class="report">小黑板 {{business.reports.length}}</span>
                {{else}}
                <span class="report">小黑板 0</span>
                {{/if}}
              </div>
            </div>
          </div>
        </li>
        {{/each}}
        {{#if has_more_data}}
            <div id="load-more-wifi_search" class="up-load-more">上拉加载更多...</div>
        {{/if}}
        {{/if}}
      </ul>
      {{/if}}
    {{/if}}
  </div>
</template>