<template name="wifiHotspotHint">
  <div class="wifi-hotspot-hint">
    <div class="target">
      <div class="wifiOnline">
        <div class="wifi-name passwd ap" id="wifi-name-title" style="margin-bottom: 0px;">
          <span>TP-LINK-01</span>
          <strong>[WiFi密码：123456] [修改]</strong>
          <div class="right">
            <div class="btn add"><i class="fa fa-pencil-square-o"></i>写点评</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text">
      <img src="/popup/hint_words.png" style="width: 100%;text-align: center;"/><br />
    </div>
  </div>
</template>