<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.travelers.together.appsetup"
        version="1.0.1">

  <name>TravelersAppSetup</name>

  <description>
    To Setup Application instead of change during build
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <platform name="ios">
    <config-file target="*-Info.plist" parent="CFBundleDisplayName">
      <string>克隆盒助手</string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key><true/>
      </dict>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>weixin</string>
        <string>wechat</string>
      </array>
    </config-file>

    <config-file target="config.xml" parent="/*">
      <feature name="TravelersAppSetup">
        <param name="ios-package" value="TravelersAppSetup"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

  </platform>

</plugin>
