<template name="local_service">
    {{> blackboard_main}}
</template>
<template name="local_service_wifi">
  <div id="new_localservice" style="padding:5px;">
      <div id="home">
          <div class="layer" style="border:none;">
              {{#if is_wifi}}
                {{#if is_no_users}}
                  <span>暂时还没其它人哦^_^...</span>
                {{else}}
                  <ul class="user">
                      {{#each users}}
                        <li id="{{_id}}" class="home_user">
                            {{#if is_undefined profile.picture}}
                                <img src="/userPicture.png" />
                            {{else}}
                                <img class="lazy" src="/lazy-loading.gif" data-original="{{profile.picture}}">
                            {{/if}}
                            <span class="name">{{show_username this}}</span>
                        </li>
                      {{/each}}
                      <div class="clear_float"></div>
                  </ul>
                {{/if}}
              {{else}}
                <span>您还没有连接到Wi-Fi...</span>
              {{/if}}
          </div>
      </div>
  </div>
</template>
<template name="local_service_home">
    <div id="new_localservice" style="padding:5px;">
        <div id="home">
            <div class="layer">
                <div class="title user_list" id="驴友营地">驴友营地(旅游达人)<div class="button"><i class="fa fa-chevron-right"></i></div></div>
                <ul class="user">
                    {{#each usersA}}
                        {{> local_service_home_user_list_a}}
                    {{/each}}
                    <div class="clear_float"></div>
                </ul>
            </div>
            <div class="layer">
                <div class="title user_list" id="背包客的胡同">背包客的胡同(客栈 青年旅舍)<div class="button"><i class="fa fa-chevron-right"></i></div></div>
                <ul class="user">
                    {{#each usersB}}
                        {{> local_service_home_user_list_b}}
                    {{/each}}
                    <div class="clear_float"></div>
                </ul>
            </div>
            <div class="layer">
                <div class="title user_list" id="美食一条街">美食一条街(当地吃货)<div class="button"><i class="fa fa-chevron-right"></i></div></div>
                <ul class="user">
                    {{#each usersC}}
                        {{> local_service_home_user_list_c}}
                    {{/each}}
                    <div class="clear_float"></div>
                </ul>
            </div>
        </div>
    </div>
</template>
<template name="local_service_home_user_list_a">
    <li id="{{_id}}" class="home_user">
        {{#if is_undefined profile.picture}}
            <img src="/userPicture.png" />
        {{else}}
            <img class="lazy" src="/lazy-loading.gif" data-original="{{profile.picture}}">
        {{/if}}
        <span class="name">{{show_username this}}</span>
<!--        <div class="tags"><img src="{{get_tag profile.tags}}" /></div>-->
    </li>
</template>
<template name="local_service_home_user_list_b">
    <li id="{{_id}}" class="home_user">
        {{#if is_undefined profile.picture}}
            <img src="/userPicture.png" />
        {{else}}
            <img class="lazy" src="/lazy-loading.gif" data-original="{{profile.picture}}">
        {{/if}}
        <span class="name">{{show_username this}}</span>
<!--        <div class="tags"><img src="{{get_tag profile.tags}}" /></div>-->
    </li>
</template>
<template name="local_service_home_user_list_c">
    <li id="{{_id}}" class="home_user">
        {{#if is_undefined profile.picture}}
            <img src="/userPicture.png" />
        {{else}}
            <img class="lazy" src="/lazy-loading.gif" data-original="{{profile.picture}}">
        {{/if}}
        <span class="name">{{show_username this}}</span>
<!--        <div class="tags"><img src="{{get_tag profile.tags}}" /></div>-->
    </li>
</template>
<template name="local_service_list">
    <div id="blackboard">
        <div class="blackboard_main">
            <div class="head">
                <strong>{{page_title}}</strong>
                <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>    
            </div>
          {{> blackboard_main_post}}
        </div>
    </div>
</template>
<!--
<template name="local_service_home_user_list">
    <li id="{{_id}}" class="home_user">
        {{#if is_undefined profile.picture}}
            <img src="/userPicture.png" />
        {{else}}
            <img src="{{profile.picture}}" />
        {{/if}}
        <span class="name">{{show_username this}}</span>
        <div class="tags"><img src="/localservice/{{get_tag profile.tags}}.png" /></div>
    </li>
</template>
-->
<template name="local_service_home_tags">
    <span class="group" id="{{id}}"><img src="{{pic}}" />{{name}}</span>
</template>

<!--用户页-->
<template name="localservice_user">
  <div class="localservice_user">
    <div class="head">
        <strong>{{page_title}}</strong>
        <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>      
    </div>
    <div id="new_localservice">
        <div id="user">
            {{#each users}}
                {{> localservice_user_list}}
            {{/each}}
        </div>
    </div>
  </div>
</template>
<template name="localservice_user_list">
    <div class="layer" id="{{_id}}">
        <div class="user_head">
            {{#if is_undefined profile.picture}}
                <img class="user_pic" src="/userPicture.png" />
            {{else}}
                <img class="lazy user_pic" src="/lazy-loading.gif" data-original="{{profile.picture}}">
            {{/if}}
            {{#if is_vip profile.isVip}}
<!--                <div class="vip"></div>-->
            {{/if}}
            <span class="name">{{show_username this}}&nbsp;<i class="fa fa-{{user_sex profile.sex}}" style="color: #1E90FF;"></i></span>
            <span>{{profile.signature}}</span>
<!--
            <span class="tag">
                {{#each profile.tags}}
                <strong>{{this}}</strong>
                <img src="{{getUserTagImage this}}" />
                {{/each}}
            </span>
-->
        </div>
    </div>
</template>
<template name="localservice_user_detail">
    <div class="head">
        <strong>当地</strong>
        <div class="leftButton button_left"><i class="fa fa-chevron-left"></i></div>      
    </div>
    <div id="new_localservice">
        <div id="user">
            <div class="detail">
                <div class="pic_bg">
                    <img src="/localservice/user_bg.jpg" />
                </div>
                <div class="user_pic">
                    {{#if is_undefined user.profile.picture}}
                        <img class="user_pic" src="/userPicture.png" />
                    {{else}}
                        <img class="lazy user_pic" src="/lazy-loading.gif" data-original="{{profile.picture}}">
                    {{/if}}
                    <span class="username">
                        帐号：
                        {{#if user.profile.nike}}
                        {{user.profile.nike}}
                        {{else}}
                        {{user.username}}
                        {{/if}}
                        <i class="fa fa-{{user_sex user.profile.sex}}" style="color: #1E90FF;"></i>
                    </span>
<!--                    <span class="homepage">个人主页</span>-->
                    {{#if user.profile.isVip}}
                        <div class="vip" style="top:15px;left:40px;"></div>
                    {{/if}}
                </div>
            </div>
            <div id="blackboard" style="padding-top:0px; ">
                <div class="blackboard_main">
                    {{> blackboard_main_post}}
                </div>
            </div>
        </div>
    </div>
</template>